---
title: Blog
layout: "base.njk"
cssPath: "/css/blog-inicio.css"
---

{% include 'header.njk' %}

<article>
  <div class="foto-blog">
    {% if thumbnail %}
    <img src="{{ thumbnail }}" alt="" />
    {% endif %} {% for tag in tags -%} {% if tag !== 'post' %}
    <span class="categoria-main">{{ tag }}</span>
    {% endif %} {%- endfor %}
    <p class="data">{{ date | postDate }}</p>
  </div>

  <div class="titulo-blog">
    <h3>{{ title }}</h3>
  </div>

  <div class="content-container">
    <p>{{ texto | safe }}</p>
  </div>
</article>

<!-- {%- for item in pagination.items | reverse -%}
<ul class="posts-container">
  <li>
    <img src="{{ item.data.thumbnail }}" alt="" />
    <p>
      {% for tag in item.data.tags -%} 
        {% if tag !== 'post' %}
          {{ tag }}, 
        {% endif %} 
      {%- endfor %}
      {{ item.data.date | postDate }}
    </p>
    <a href="{{ item.url }}">
      {{ item.data.title }}
    </a>
  </li>
  {%- endfor %}
</ul> -->

<div class="artigos-relacionados rosa">
  <h5>Outros Posts</h5>
  {% set postsFiltered = collections.semVideos | limit(3) %}
  <ul>
    {%- for post in postsFiltered -%}
    <li>
      <img src="{{ post.data.thumbnail }}" alt="" />
      <p>
        {% for tag in post.data.tags -%} {% if tag !== 'post' %}
        {{ tag }}, {% endif %} {%- endfor %}
        {{ post.data.date | postDate }}
      </p>
      <a href="{{ post.url }}">
        {{ post.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</div>

{% include 'footer.njk' %}
