---
title: Blog
layout: "base.njk"
cssPath: "/css/blog-inicio.css"
eleventyImport:
collections: ["post"]
---

{% from 'macros/header.njk' import header %}

{{ header(backLink = "/blog") }}

<section class="main-blog">
  <div class="head-blog">
    <div class="foto-blog">
      {% if thumbnail %}
      <div class="foto-categoria">
        <img src="{{ thumbnail }}" alt="" />
        {% endif %} {% for tag in tags -%} {% if tag !== 'post' %}
        <span class="categoria-main">{{ tag }}</span>
      </div>
      {% endif %} {%- endfor %}
      <p class="data">{{ date | postDate }}</p>
    </div>
  </div>

  <div class="conteudo-blog">
    <div class="titulo-blog">
      <h3>{{ title }}</h3>
    </div>
    <div class="content-container">
      <p>{{ texto | safe }}</p>
    </div>
  </div>

  <!-- {%- for item in pagination.items | reverse -%}
<ul class="posts-container">
  <li>
    <img src="{{ item.data.thumbnail }}" alt="" />
    <p>
      {% for tag in item.data.tags -%} 
        {% if tag !== 'post' %}
          {{ tag }}, 
        {% endif %} 
      {%- endfor %}
      {{ item.data.date | postDate }}
    </p>
    <a href="{{ item.url }}">
      {{ item.data.title }}
    </a>
  </li>
  {%- endfor %}
</ul> -->

  <div class="artigos-relacionados rosa sidebar">
    <h5>Posts Relacionados</h5>
    {% set postsFiltered = collections.all | filterByTags(tags) | reverse | excludeFromCollection(page.url) | limit(2)  %}
    <ul>
      {%- for post in postsFiltered -%}
      <li>
      <a href="{{ post.url }}"> <img src="{{ post.data.thumbnail }}" alt="" />
        <div class="titulo-data">
          <h4>{{ post.data.title }}</h4>
          <p class="data">{{ post.data.date | postDate }}</p>
          </div>
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</section>

{% include 'footer.njk' %}
