---
title: Blog
layout: "base.njk"
cssPath: "/css/blog.css"
eleventyImport:
collections: ["post"]
---

<nav class="nav2" data-scroll-section>
  <a href="/">
    <img src="../../img/shalon-logo.svg" alt="logo escola batista shalon">
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">INÍCIO</a></li>

    <li><a href="">CONTATO</a></li>

    <label class="menu-icon-inside mobile-only" for="menu-btn">
      <span class="navicon"></span
    ></label>
  </ul>
</nav>
<section class="blog-post">
    <div class="blog-header">
      {% if thumbnail %}
        <img src="{{ thumbnail }}" alt="" />
        {% endif %} 
    </div>
    <div class="conteudo-blog">
      <a class="darkGreenButton" href="/blog">VOLTAR</a>
      <p class="data">{{ date | postDate }}</p>
      <div class="content-container">
        {{ content | safe }}
      </div>
  </div>

  <!-- {%- for item in pagination.items | reverse -%}
<ul class="posts-container">
  <li>
    <img src="{{ item.data.thumbnail }}" alt="" />
    <p>
      {% for tag in item.data.tags -%} 
        {% if tag !== 'post' %}
          {{ tag }}, 
        {% endif %} 
      {%- endfor %}
      {{ item.data.date | postDate }}
    </p>
    <a href="{{ item.url }}">
      {{ item.data.title }}
    </a>
  </li>
  {%- endfor %}
</ul> -->
<!-- 
  <div class="artigos-relacionados rosa sidebar">
    <h5>Posts Relacionados</h5>
    {% set postsFiltered = collections.all | filterByTags(tags) | reverse | excludeFromCollection(page.url) | limit(2)  %}
    <ul>
      {%- for post in postsFiltered -%}
      <li>
      <a href="{{ post.url }}"> <img src="{{ post.data.thumbnail }}" alt="" />
        <div class="titulo-data">
          <h4>{{ post.data.title }}</h4>
          <p class="data">{{ post.data.date | postDate }}</p>
          </div>
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div> -->
</section>

{% include 'footer.njk' %}
