<footer>
  <div class="img"><img src="/img/shalon-logo.svg" alt="logo da escola shalon" /></div>
  <div class="top">
    <div class="left">
      <p>
        “Instrua a criança segundo os objetivos que você tem para ela, e mesmo
        com o passar dos anos não se desviará deles.” <br /><br />
        Provérbios 22:6
      </p>
    </div>
    <div class="right">
      <a href="tel:4133467271">(41) 3346-7271</a>
      <a>atendimento@ebshalon.com</a>
      <a>
        R Alferes Pedro Magno de Barros, 333 <br />
        <p>Xaxim, Curitiba, PR. 81810-210</p>
      </a>
      <div class="icones">
        <a href="https://www.instagram.com/ebshalon/" target="_blank">
          <img src="/img/instagram-laranja.svg" alt="" />
        </a>
        <a href="https://www.facebook.com/ebatistashalon/" target="_blank">
          <img src="/img/Facebook-laranja.svg" alt="" />
        </a>
        <a href="https://www.youtube.com/@shalonescolabatista4394" target="_blank">
          <img src="/img/youtube.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <span class="divisoria-footer"></span>

  <a href="https://namiconsultoria.com.br">2024 | Desenvolvido por Nami Consultoria</a>

</footer>