<footer>
  <div class="top">
    <div class="left">
      <img src="../img/shalon-logo.svg" alt="" />
      <p>
        “Instrua a criança segundo os objetivos que você tem para ela, e mesmo
        com o passar dos anos não se desviará deles.” <br /><br />
        <strong>Provérbios 22:6</strong>
      </p>
    </div>

    <div class="right">
      <a href="tel:4133467271">(41) 3346-7271</a>
      <a>atendimento@ebshalon.com</a>
      <a>
        R Alferes Pedro Magno de Barros, 333 <br />
        <p>Xaxim, Curitiba, PR. 81810-210</p>
      </a>
      <div>
        <a href="https://www.instagram.com/ebshalon/" target="_blank">
          <img src="../img/instagram-laranja.svg" alt="" />
        </a>
        <a href="https://www.facebook.com/ebatistashalon/" target="_blank">
          <img src="../img/Facebook-laranja.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <span class="divisoria-laranja"></span>

  <p>© 2024 por Escola Batista Shalon</p>

  <img class="footer-cores" src="../img/Blog/Group 46.png" alt="" />
</footer>