<header class="main-head">
  <a href="https://escolabatistashalon.com.br/"
    ><img src="/img/shalon-logo.svg" class="logo" alt=""
  /></a>
  <section class="head">
    <h1>BLOG</h1>
    <H2>Fique por dentro!</H2>
    <a href="https://escolabatistashalon.com.br/">
      <div role="button" class="voltar darkGreenButton">
        <img src="/img/Vector.svg" alt="" /> VOLTAR
      </div>
    </a>
  </section>
</header>
