
<nav data-scroll-section>
  <a class="header-logo" href="/{{ lang }}">
    <img src="../img/shalon-logo.svg" alt="logo escola batista shalon">
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#ensino">{{ "nav.link1" | i18n }}</a></li>

    <li><a href="#metodologia">{{ "nav.link2" | i18n }}</a></li>

    <li><a href="#parceiros">{{ "nav.link3" | i18n }}</a></li>

    <li><a href="/pt/blog">{{ "nav.link4" | i18n }}</a></li>

    <li><a href="/pt/contato">{{ "nav.link5" | i18n }}</a></li>
    <label class="menu-icon-inside mobile-tablet" for="menu-btn">
      <span class="navicon"></span
    ></label>
  </ul>
</nav>
<div class="box-nav desktop-only">
</div>
<header>
  <img class="tablet-desktop" src="../img/header.png" alt="">
  <img class="mobile-only" src="../img/header-mobile.png" alt="">
  <div class="texto-header">
    <h1>
      {{ "home.header" | i18n }}
    </h1>
    <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." class="darkGreenButton">{{ "button.text1" | i18n }}</a>
  </div>
  <label class="toggle-language">
    <input type="checkbox" id="lang-toggle" {% if locale === 'en-US' %} checked {% endif %}>
    <span class="slider"></span>
  </label>
  <div class="lang-selector">
    <p>PT</p>
    <p>EN</p>
  </div>
</header>

<section class="perfeita">
  <div class="perfeita-left">
    <h2 class="laranja">{{ "home.title1" | i18n }}</h2>
    <p>
      {{ "home.text1" | i18n }}
    </p>
    <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." class="darkGreenButton">{{ "button.text1" | i18n }}</a>
  </div>
  <iframe width="640" height="480" src="https://www.youtube.com/embed/_9cWAANe0sA" title="TOUR 2024 -  ESCOLA BATISTA SHALON" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>

<section class="ensino" id="ensino">
  <div class="infantil">
    <img src="../img/infantil.png" alt="">
    <div class="infantil-right">
      <h3 class="rosa">{{ "home.title2" | i18n }}</h3>
      <h4 class="rosa">{{ "home.subtitle1" | i18n }}</h4>
      <p>{{ "home.text2" | i18n }}
      </p>
      <p>{{ "home.text3" | i18n }}
      </p>
      <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." class="greenButton">{{ "button.text2" | i18n }}</a>
    </div>
  </div>
  <div class="fundamental">
    <div class="infantil-right">
      <h3 class="roxo">{{ "home.title3" | i18n }}</h3>
      <h4 class="roxo">{{ "home.subtitle1" | i18n }}</h4>
      <p>
        {{ "home.text4" | i18n }}
      </p>
      <p>
        {{ "home.text5" | i18n }}
      </p>
      <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." class="greenButton">{{ "button.text2" | i18n }}</a>
    </div>
    <img src="../img/fundamental1.png" alt="">
  </div>
  <div class="infantil">
    <img src="../img/fundamental2.png" alt="">
    <div class="infantil-right">
      <h3 class="lightGreen">{{ "home.title4" | i18n }}</h3>
      <h4 class="lightGreen">{{ "home.subtitle2" | i18n }}</h4>
      <p>
        {{ "home.text6" | i18n }}
      </p>
      <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." class="greenButton">{{ "button.text2" | i18n }}</a>
    </div>
  </div>
</section>
<section class="bilingue">
  <!-- <img class="bilingue-back" src="../../img/background-bilingue.svg" alt="fundo colorido"> -->
  <div class="bilingue-itens">
    <div class="bilingue-left">
      <h2 class="laranja">{{"home.title14" | i18n}} <br/> {{"home.title15" | i18n}} </h2>
      <p> {{"home.text22" | i18n}} </p>
    </div>
    <img class="bilingue-right" src="../../img/mundo.png" alt="desenho de um globo terrestre sorrindo">
  </div>
</section>
<section class="contraturno">
  <img class="contra-left desktop-only" src="../img/contra-left.png" alt="">
  <img class="contra-right desktop-only" src="../img/contra-right.png" alt="">
  <h2 class="laranja">{{ "home.title5" | i18n }}</h2>
  <p>{{ "home.subtitle3" | i18n }}</p>
  <div class="wrap-contraturno">
    <div class="contraturno-left">
      <div class="left-item">
        <img src="../img/almoco.png" alt="">
        <p>{{ "home.text7" | i18n }}</p>
      </div>
      <div class="left-item">
        <img src="../img/musicalizacao.png" alt="">
        <p>{{ "home.text8" | i18n }}</p>
      </div>
      <div class="left-item">
        <img src="../img/apoio.png" alt="">
        <p>{{ "home.text9" | i18n }}</p>
      </div>
    </div>
    <div class="contraturno-right">
      <img src="../img/contaturno.png" alt="">
    </div>
  </div>
</section>
<section class="educacao">
  <h2 class="darkGreen">{{ "home.title6" | i18n }} <br/> {{ "home.title7" | i18n }}</h2>
  <div class="wrap-educacao">
    <div class="educacao-item">
      <span class="laranja">
        {{ "home.subtitle5" | i18n }}
      </span>
      <p>
        {{ "home.text10" | i18n }}
      </p>
      <img src="../img/educacao1.png" alt="">
    </div>
    <div class="educacao-item">
      <img src="../img/educacao2.png" alt="">
      <span class="rosa">
        {{ "home.subtitle6" | i18n }}
      </span>
      <p>
        {{ "home.text11" | i18n }}
      </p>
    </div>
    <div class="educacao-item">
      <span class="darkGreen">
        {{ "home.subtitle7" | i18n }}
      </span>
      <p>
        {{ "home.text12" | i18n }}
      </p>
      <img src="../img/educacao3.png" alt="">
    </div>
    <div class="educacao-item">
      <img src="../img/educacao4.png" alt="">
      <span class="lightGreen">
        {{ "home.subtitle8" | i18n }}
      </span>
      <p>
        {{ "home.text13" | i18n }}
      </p>
    </div>
  </div>
</section>
<section class="metodologia" id="metodologia">
  <img class="tablet-desktop" src="../img/metodologia.png" alt="">
  <img class="mobile-only" src="../img/metodologia-mobile.png" alt="">
  <div class="metodologia-texto">
    <h4>{{ "home.subtitle9" | i18n }}</h4>
    <p>
      {{ "home.text14" | i18n }}
    </p>
  </div>
</section>
<section class="inclusao">
  <p>
    {{ "home.text15" | i18n }}
    <br/> <br/> 
    {{ "home.text16" | i18n }}
  </p>
  <div class="itens">
    <div class="item">
      <img src="../img/bola-amarela.png" alt="">
      <p>
        {{ "home.item1" | i18n }}
      </p>
    </div>
    <div class="item">
      <img src="../img/bola-rosa.png" alt="">
      <p>
        {{ "home.item2" | i18n }}
      </p>
    </div>
    <div class="item">
      <img src="../img/bola-roxa.png" alt="">
      <p>
        {{ "home.item3" | i18n }}
      </p>
    </div>
    <div class="item">
      <img src="../img/bola-musgo.png" alt="">
      <p>
        {{ "home.item4" | i18n }}
      </p>
    </div>
  </div>
</section>
<section class="abordagem">
  <h2 class="rosa"> {{ "home.title8" | i18n}} </h2>
  <p>
    {{ "home.text17" | i18n }}
  </p>
  <div class="wrap-principios">
    <img src="{{ 'images.img1' | i18n }}" alt="Banner">
    <img src="{{ 'images.img2' | i18n }}" alt="Banner">
    <img src="{{ 'images.img3' | i18n }}" alt="Banner">
    <img src="{{ 'images.img4' | i18n }}" alt="Banner">
    <img src="{{ 'images.img5' | i18n }}" alt="Banner">
    <img src="{{ 'images.img6' | i18n }}" alt="Banner">
    <img src="{{ 'images.img7' | i18n }}" alt="Banner">
  </div>
</section>
<section class="alem">
  <div class="alem-texto">
    <h3>
      {{ "home.subtitle10" | i18n }}
    </h3>
    <h1 class="darkGreen">
      {{ "home.title9" | i18n }}
    </h1>
    <p>
      {{ "home.text18" | i18n }}
    </p>
  </div>
  <div class="alem-itens">
    <div class="item">
      <img src="../img/icones/financeira.png" alt="">
      <p> 
        {{ "home.item5" | i18n }}
      </p>
    </div>
    <div class="item">
      <img src="../img/icones/inteligencia.png" alt="">
      <p>
        {{ "home.item6" | i18n }}
      </p>
    </div>
    <div class="item">
      <img src="../img/icones/bilingue.png" alt="">
      <p>
        {{ "home.item7" | i18n }}
      </p>
    </div>
    <div class="item">
      <img src="../img/icones/tech.png" alt="">
      <p>
        {{ "home.item8" | i18n }}
      </p>
    </div>
    <!-- <div class="item">
      <img src="../img/icones/ballet.png" alt="">
      <p>
        {{ "home.item9" | i18n }}
      </p>
    </div> -->
    <!-- <div class="item">
      <img src="../img/icones/futsal.png" alt="">
      <p>
        {{ "home.item10" | i18n }}
      </p>
    </div> -->
    <div class="item">
      <img src="../img/icones/robotica.png" alt="">
      <p>
        {{ "home.item11" | i18n }}
      </p>
    </div>
    <!-- <div class="item">
      <img src="../img/icones/circo.png" alt="">
      <p>
        {{ "home.item12" | i18n }}
      </p>
    </div> -->
    <!-- <div class="item">
      <img src="../img/icones/arte.png" alt="">
      <p>
        {{ "home.item13" | i18n }}
      </p>
    </div> -->
    <div class="item">
      <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." class="greenButton" >{{ "button.text2" | i18n }}</a>
    </div>
  </div>
  <img class="alem-left" src="../img/alem-left.png" alt="foto de estudante com um robô">
  <img class="alem-bot-left desktop-only" src="../img/alem-bot-left.png" alt="">
  <img class="alem-top-right desktop-only" src="../img/alem-top-right.png" alt="">
  <img class="alem-right" src="../img/alem-right.png" alt="foto da turma bilingue">
</section>
  <section class="emocional" data-aos="zoom-out-up">
    <img class="tablet-desktop" src="../img/educacao.png" alt="">
    <img class="mobile-only" src="../img/educacao-mobile.png" alt="">
    <h2>
      {{ "home.title10" | i18n }}
    </h2>
  </section>
  <section class="inclusao">
    <p>{{ "home.text19" | i18n }}
      <br/><br/>
      {{ "home.text20" | i18n }}  
    </p>
      <div class="itens">
        <div class="item">
          <img src="../img/bola-verde.png" alt="">
          <p>
            {{ "home.item14" | i18n }}
          </p>
        </div>
        <div class="item">
          <img src="../img/bola-rosa.png" alt="">
          <p>
            {{ "home.item15" | i18n }}
          </p>
        </div>
        <div class="item">
          <img src="../img/bola-laranja.png" alt="">
          <p>
            {{ "home.item16" | i18n }}
          </p>
        </div>
        <div class="item">
          <img src="../img/bola-musgo.png" alt="">
          <p>
            {{ "home.item17" | i18n }}
          </p>
        </div>
      </div>

  </section>
  <section class="nossos-parceiros" id="parceiros">
    <img class="desktop-only parceiros-left" src="../img/parceiros-left.png" alt="">
    <img class="desktop-only parceiros-right" src="../img/parceiros-right.png" alt="">
    <h2 class="laranja">{{ "home.title11" | i18n}}</h2>
    <div class="parceirosIcons">
      <img src="../img/mackenzie.png" alt="">
      <img src="../img/acsi.png" alt="">
      <img src="../img/aecep.png" alt="">
      <img src="../img/opee.png" alt="">
      <img src="../img/rockfeller.png" alt="">
      <img src="../img/editora.png" alt="">
      <img src="../img/edify.png" alt="">
    </div>
  </section>
  <section class="material">
    <h1 class="rosa">{{ "home.title12" | i18n}}</h1>
    <div class="texto">
      <p>{{ "home.text21" | i18n | safe}}</p>
    </div>
    <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." class="greenButton"> {{ "button.text3" | i18n}} </a>
  </section>
  <section class="pre-footer">
    <div class="jesus">
      <img src="../img/jesus.png" alt="">
    </div>
      <div class="textoPreFooter">
        <p>
          {{ "home.title13" | i18n }}
        </p>
        <a href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre a Escola Batista Shalon." target="_blank" class="darkGreenButton">{{ "button.text1" | i18n }}</a>
      </div> 
  <div class="pomba">
    <img src="../img/passarinho.png" alt="">
  </div>  
  <img class="tablet-desktop" src="../img/estrelas-fundo.png" alt="">
  <img class="mobile-only" src="../img/estrelas-mobile.png" alt="">
  </section>
  
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.781353224656!2d-49.285039984569444!3d-25.512337583750494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfb5fe632abbf%3A0x177da94ce790d9f6!2sEscola%20Batista%20Shalon!5e0!3m2!1spt-BR!2sbr!4v1664932417753!5m2!1spt-BR!2sbr"
    width="100%" height="400" style="border: 0; z-index: 2" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

{% include 'footer.njk' %}

<script>
  const myPopup = new Popup({
id: "my-popup",
title: "My First Popup",
allowClose: true,
hideCloseButton: false,
hideTitle: true,
font: "omnes-pro",
content: `
{{ "pop1" | i18n }}
{{ "pop2" | i18n }}
{btn-darkGreenButton}[<a target="_blank" href="https://api.whatsapp.com/send?phone=5541995980198&text=Olá! Vim do site e gostaria de informações sobre as vagas na Escola Batista Shalon.">{{ "button.text4" | i18n }}</a>]
   `,
    showImmediately: true
});
</script>

<script>
   document.getElementById("lang-toggle").addEventListener("change", function () {
  const selectedLang = this.checked ? 'en' : 'pt';
  urlHandler(selectedLang);
});

function urlHandler(lang) {
  // Redireciona para a versão do idioma
  if (lang === 'pt') {
    window.location.href = '/pt';
  } else if (lang === 'en') {
    window.location.href = '/en';
  }
}
</script>