@import "./parts/global";
@import "./parts/colors";
@import "./parts/buttons";

.popup.my-popup .popup-content{
  
  width: unset!important ;
  border-radius: 50px!important;
  &::before{
    content:"" url(../img/popup.png);
  background-color: #C5D15E ;
  border-radius: 50px; 
  }
  .popup-header{
    margin:0 !important
  }
  .popup-body{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 47%;
    z-index: 10;
    transform: translateX(-50%);
    p{
      font-size: 3rem;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      width: 43rem;
    }
    button{
      width: 24rem;
      padding: 1.3rem 1.3rem;
      font-size: 2rem;
      border-radius: 50px;
      margin: auto;
      a{ 
        color: white;
      }
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
  @media screen and (max-width:700px){

    &::before{
      content: url(../img/popup-mobile.png);
    }
    .popup-close{
      top: 1rem;
      right: 2rem
    }
    .popup-body{
      top: 35%;
      left: 47%;
      z-index: 10;
      p{
        font-size: 1.6rem;
        width: 18rem;
      }
      button{
        width: 16rem;
        padding: 0.6rem 1rem;
        line-height: 1.2rem;
        font-size: 1.4rem;
        border-radius: 20px;
        margin: auto;
        font-weight: 500;
        &:hover {
          filter: brightness(0.8);
        }
      }
  }
}
}

nav {
  width: 100%;
  margin: 0;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem 0rem 9rem;
  z-index: 123;
  background: $musgo-400;
  >a{
    height: 5.3rem;
  }
  >img{
    width: 25rem;
  }
  ul {
    opacity: 100%;
    list-style: none;
    overflow: hidden;
    display: flex;
    gap: 6rem;
  }
  li a {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: $white;
  }
  li a:hover,
  .menu-btn:hover {
    color: $verde-400;
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 6rem;

    .menu-icon-inside {
      cursor: pointer;
      float: right;
      padding: 2rem 0;
      position: relative;
      user-select: none;
      margin-left: auto;
      margin-right: 1rem;
    }

    .menu-icon-inside .navicon {
      display: block;
      height: 4px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 45px;
    }

    .menu-icon-inside .navicon:before,
    .menu-icon-inside .navicon:after {
      background: $laranja-600;
      content: "";
      display: block;
      height: 55%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 48%;
    }

    .menu-icon-inside .navicon:before {
      top: 10px;
    }
    .menu-icon-inside .navicon:after {
      top: -10px;
    }
    .menu-icon-inside .navicon:before {
      transform: rotate(-45deg);
    }
    .menu-icon-inside .navicon:after {
      transform: rotate(45deg);
    }
    .menu-icon-inside:not(.steps) .navicon:before,
    .menu-icon-inside:not(.steps) .navicon:after {
      top: 0;
    }
  }
  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 1rem 0;
    position: relative;
    user-select: none;
    margin: 0;
  }
  .menu-icon .navicon {
    background: $verde-600;
    display: block;
    height: 1.5px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 1.8rem;
  }
  .menu-icon .navicon:before{
    background: $laranja-600;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 70%;
  }
  .menu-icon .navicon:after {
    background: $verde-600;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .menu-icon .navicon:before {
    top: 5px;
  }
  .menu-icon .navicon:after {
    top: -5px;
  }
  .menu-btn {
    display: none;
  }
  .menu-btn:checked ~ .menu {
    max-height: 80vh;
  }
  .heer .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media (min-width: 701px) and (max-width:1270px) {
    margin: 0;
    display: flex;
    padding: 2rem 0;
    gap: 0;
    position: relative;
    height: 8rem;
    img{
      position: absolute;
      left: 2rem;
      width: 20rem;
    }
    .menu-icon{
      position: absolute;      
      right: 4rem;
    }
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      background: $musgo-400;
      padding-right: unset;
      border-radius: 0 0 20px 20px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2rem;
      margin-top: 0;

      li {

        &:first-of-type {
          padding-top: 3rem;
        }

        &:last-of-type {

          a {
            border-bottom: unset;
          }
        }

        a {
          font-size: 1.8rem;
          line-height: 100%;
          color: $white;
          text-align: center;
        }
      }
    }
    .menu-icon .navicon {
      background: $verde-600;
      display: block;
      height: 3.3px;
      margin-top: -1rem;

      position: relative;
      transition: background 0.2s ease-out;
      width: 3rem;
    }
    .menu-icon .navicon:before{
      background: $laranja-600;
      content: "";
      display: block;
      margin-top: 1.2rem;

      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 70%;
    }
    .menu-icon .navicon:after {
      background: $verde-600;
      content: "";
      margin-top: 1.3rem;
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }
  }
  @media (min-width: 1271px) {
    li {
      float: left;
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
  @media (max-width: 700px) {
    margin: 0;
    display: flex;
    padding: 2rem 0;
    background: $musgo-400;
    width: 100vw;
    gap: 0;
    position: relative;
    height: 5.6rem;
    img{
      position: absolute;
      left: 1rem;
      width: 12rem;
    }
    .menu-icon{
      position: absolute;      
      right: 2rem;
    }
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      background: $musgo-400;
      padding-right: unset;
      border-radius: 0 0 20px 20px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2rem;
      margin-top: 0;

      li {

        &:first-of-type {
          padding-top: 5rem;
        }

        &:last-of-type {
          padding-bottom: 1rem;

          a {
            border-bottom: unset;
          }
        }

        a {
          font-size: 1.8rem;
          line-height: 100%;
          color: $white;
          text-align: center;
        }
      }
    }
  }
}
.nav2 {
  width: 100%;
  height: 12rem;
  margin: 0;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem 0rem 9rem;
  z-index: 123;
  background: $musgo-400;
  >a{
    height: 12rem;
  }
  img{
    position: absolute;
    left: 5rem;
    width: 27rem;
  }
  ul {
    opacity: 100%;
    list-style: none;
    overflow: hidden;
    display: flex;
    gap: 6rem;
  }
  li a {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: $white;
  }
  li a:hover,
  .menu-btn:hover {
    color: $verde-400;
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    display: flex;
    align-items: center;
    gap: 6rem;

    .menu-icon-inside {
      cursor: pointer;
      float: right;
      padding: 2rem 0;
      position: relative;
      user-select: none;
      margin-left: auto;
      margin-right: 1rem;
    }

    .menu-icon-inside .navicon {
      display: block;
      height: 4px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 45px;
    }

    .menu-icon-inside .navicon:before,
    .menu-icon-inside .navicon:after {
      background: $laranja-600;
      content: "";
      display: block;
      height: 55%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 48%;
    }

    .menu-icon-inside .navicon:before {
      top: 10px;
    }
    .menu-icon-inside .navicon:after {
      top: -10px;
    }
    .menu-icon-inside .navicon:before {
      transform: rotate(-45deg);
    }
    .menu-icon-inside .navicon:after {
      transform: rotate(45deg);
    }
    .menu-icon-inside:not(.steps) .navicon:before,
    .menu-icon-inside:not(.steps) .navicon:after {
      top: 0;
    }
  }
  .menu-icon {
    cursor: pointer;
    float: right;
    padding: 1rem 0;
    position: relative;
    user-select: none;
    margin: 0;
  }
  .menu-icon .navicon {
    background: $verde-600;
    display: block;
    height: 1.5px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 1.8rem;
  }
  .menu-icon .navicon:before{
    background: $laranja-600;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 70%;
  }
  .menu-icon .navicon:after {
    background: $verde-600;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .menu-icon .navicon:before {
    top: 5px;
  }
  .menu-icon .navicon:after {
    top: -5px;
  }
  .menu-btn {
    display: none;
  }
  .menu-btn:checked ~ .menu {
    max-height: 80vh;
  }
  .heer .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media (min-width: 701px) {
    li {
      float: left;
    }

    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
  @media (max-width: 700px) {
    margin: 0;
    display: flex;
    padding: 2rem 0;
    background: $musgo-400;
    width: 100vw;
    gap: 0;
    position: relative;
    height: 5.6rem;
    >a{
      height: 5.6rem;
    }
    img{
      position: absolute;
      left: 1rem !important;
      width: 12rem !important;
    }
    .menu-icon{
      position: absolute;      
      right: 2rem;
    }
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      background: $musgo-400;
      padding-right: unset;
      border-radius: 0 0 20px 20px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2rem;
      margin-top: 0;

      li {

        &:first-of-type {
          padding-top: 5rem;
        }

        &:last-of-type {
          padding-bottom: 1rem;

          a {
            border-bottom: unset;
          }
        }

        a {
          font-size: 1.8rem;
          line-height: 100%;
          color: $white;
          text-align: center;
        }
      }
    }
  }
}


header{
  position: relative;
  img{
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .texto-header{
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 7%;
    h1{
      font-size: 5rem;
      line-height: 5rem;
      font-weight: 600;
      color: white;
      width: 58rem;
      margin-bottom: 4rem;
    }
  }
}
.perfeita{
  display: flex;
  align-items: center;
  margin: 9rem auto;
  width: 88vw;
  gap: 6rem;
  .perfeita-left{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    flex: 1;
    h2{
      font-size: 4.8rem;
      line-height: 4.8rem;
      font-weight: 600;
      width: 38rem;
    }
    p{
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 400;
    }
  }
}
.ensino{
  display: flex;
  flex-direction: column;
  gap: 6rem;
  .infantil{
    display: flex;
    background: $laranja-200;
    align-items: center;
    justify-content: space-between;
    .infantil-right{
      display: flex;
      flex-direction: column;
      margin: auto;
      h3{
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 600;
      }
      h4{
        font-size: 2.4rem;
        line-height: 4rem;
        font-weight: 500;
        margin-bottom: 3rem;
      }
      p{
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: 400;
        margin-bottom: 3rem;
        width: 48rem;
      }
    }
  }
  .fundamental{
    display: flex;
    background: $musgo-100;
    align-items: center;
    justify-content: space-between;
    .infantil-right{
      display: flex;
      flex-direction: column;
      margin: auto;
      h3{
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 600;
      }
      h4{
        font-size: 2.4rem;
        line-height: 4rem;
        font-weight: 500;
        margin-bottom: 3rem;
      }
      p{
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: 400;
        margin-bottom: 3rem;
        width: 48rem;
      }
    }
  }
}
.contraturno{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9rem 0;
  position: relative;
  .contra-left{
    position: absolute;
    left: 0;
    z-index: -1;
    top: -40%;
  }
  .contra-right{
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: -60%;
  }
  h2{
    font-size: 4.8rem;
  }
  > p{
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    font-weight: 400;
    margin-top: 1.8rem;
    color: $cinza;
  }
  .wrap-contraturno{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .contraturno-left{
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .left-item{
        display: flex;
        align-items: center;
        gap: 1.7rem;
        p{
          width: 55rem;
          font-size: 2.4rem;
          color: $cinza;
          line-height: 3.2rem;
          font-weight: 400;
        }
      }
    }
  }
}
.educacao{
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: auto;
  h2{
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 600;
    text-align: center;
  }
  .wrap-educacao{
    display: flex;
    margin-top: 12rem;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10rem;
    .educacao-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 25rem;
      span{
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 0.9rem;
        font-family: $eloise;
      }
      p{
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $cinza;
      }
      img{
        width: 100%;
      }
    }
  }
}
.metodologia{
  position: relative;
  margin-bottom: 10rem;
  img{
    width: 100%;
  }
  .metodologia-texto{
    position: absolute;
    z-index: 3;
    left: 6%;
    top: 50%;
    h4{
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
    }
    p{
      font-size: 3.2rem;
      color: white;
      line-height: 3.2rem;
      font-weight: 600;
      margin-top: 3rem;
      width: 49rem;
    }
  }
}
.abordagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: auto;
  padding-bottom: 11rem;
  h2{
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 600;
    text-align: center;
    width: 44rem;
    margin-top: 10rem;
  }
  p{
    font-size: 2.3rem;
    line-height: 2.9rem;
    font-weight: 400;
    color: $cinza;
    text-align: center;
    margin-top: 5.5rem;
  }
  .wrap-principios{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 5.5rem;
    img{
      width: 27rem;
    }
  }
}
.alem{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.3rem;
  background: url(../img/background-alem.png);
  background-repeat: no-repeat;
  background-size: cover;
  .alem-texto{
    width: 54%;
    text-align: center;
    h3{
      font-size: 2rem;
      color: $cinza;
      line-height: 2.5rem;
      font-weight: 500;
      text-transform: uppercase;
    }
    h1{
      font-size: 4.8rem;
      line-height: 4.8rem;
      font-weight: 600;
      margin-top: 2rem;
    }
    p{
      font-size: 2.3rem;
      font-weight: 400;
      margin-top: 4.4rem;
      color: $cinza;
    }
  }
  .alem-itens{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
    .item{
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: $cinza;
      p{
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
  }
  a{
    margin-top: 4rem;
    margin-bottom: 7rem;
  }
  .alem-left{
    position: absolute;
    left: 0;
    top: 25%;
  }
  .alem-bot-left{
    position: absolute;
    left: 0;
    top: 54%;
  }
  .alem-top-right{
    position: absolute;
    right: 0;
    top: 10%;
    width: 266px;
    height: 415px;
  }
  .alem-right{
    position: absolute;
    right: 0;
    top: 33%;
  }
}
.emocional{
  position: relative;
  margin-bottom: 7rem;
  img{
    width: 100%;
  };
  h2{
    font-size: 4.8rem;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
.inclusao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > p{
    text-align: center;
    width: 80vw;
    font-size: 2.3rem;
    line-height: 3rem;
    margin-bottom: 7rem;
    color: $cinza;
  }
  .itens{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    margin: auto;
    gap: 8rem;
    transform: translateX(10%);
    .item{
      display: flex;
      align-items: center;
      gap: 4rem;
      p{
        font-family: $eloise;
        font-style: normal;
        font-weight: 400;
        font-size: 6rem;
        line-height: 6rem;
      }
    }
  }
}
.nossos-parceiros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  margin-top: 15rem;
  position: relative;
  .parceiros-left{
    position: absolute;
    left: 0;
    top: -65%;
    z-index: -1;
  }
  .parceiros-right{
    position: absolute;
    right: 0;
    top: 45%;
    z-index: -1;
  }
  h2{
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-weight: 600;
    margin-bottom: 10rem;
  }
  .parceirosIcons{
    display: flex;
    align-items: center;
    gap: 5.5rem;
    margin-bottom: 10rem;
  }
}
.material{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.4rem;
  width: 80vw;
  margin: auto;
  h1{
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 4.8rem;
  }
  p{
    text-align: center;
    color: $cinza;
    font-size: 2.2rem ;
    font-weight: 400;
    line-height: 2.8rem;
  }
  a{
    margin-bottom: 12rem;
  }
}
.pre-footer {
  color: #ffffff;
  background: $musgo-400;
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  align-items: center;
  position: relative;
  .textoPreFooter {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5rem;
    z-index: 8;
    margin-bottom: 10rem;
    p {
      font-weight: 600;
      font-size: 4.8rem;
      line-height: 4.8rem;
      letter-spacing: -0.015em;
      max-width: 60rem;
      text-align: center;
    }
  }
  > img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .jesus{
    position: absolute;
    left: 0;
    transform: translateY(-85%);
    z-index: 10;
  }
  .pomba{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}
footer {
  background-color: $musgo-200;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;
  padding-bottom: 4rem;
  max-width: 100%;
  position: relative;
  padding-top: 4rem;
  .img{
    width: 80vw;
    img{
      width: 31rem;
    }
  }
  a {
    color: $cinza;
    font-weight: 400;
    font-size: 1.4rem;
  }
  .top {
    display: flex;
    justify-content: space-between;
    width: 80vw;

    .left {
      display: flex;
      flex-direction: column;
      z-index: 56;
      margin-top: 2rem;
      p {
        max-width: 31.4rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: -0.015em;
        color: $cinza;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      margin-right: 10rem;
      z-index: 3;
      a {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: -0.015em;
      }
      p {
        font-size: 2rem;
        font-weight: 400;
        color: $cinza;
      }
      .icones{
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;
        a{
          height: 2.2rem;
          width: auto;
          img{
          height: 100%;
          }
        }
      }
  }
}
  .divisoria-footer {
    display: block;
    width: 80%;
    border-bottom: 3px solid $verde-300;
    margin: 2% 0;
  }
}

.fale{
  display: flex;
  flex-direction: column;
  align-items: center;
  .fale-texto{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 12rem;
    h2{
      font-size: 4.8rem;
      line-height: 4.8rem;
      font-weight: 600;
    }
    p{
      font-size: 2.2rem;
      line-height: 3.6rem;
      font-weight: 400;
    }
    strong{
      font-size: 2.2rem;
      line-height: 3.6rem;
      font-weight: 600;
    }
  }
  .fale-agende{
    display: flex;
    background-color: $musgo-100;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 15rem auto 11rem;
    border-radius: 20px;
    gap: 10rem;
    height: 40rem;
    padding-right: 2rem;
    img{
      margin-left: -10rem;
    }
    h2{
      font-size: 4.8rem;
      line-height: 4.8rem;
      font-weight: 600;
      margin-bottom: 5rem;
    }
    p{
      font-size: 2.2rem;
      line-height: 3.6rem;
      font-weight: 400;
      margin-bottom: 5rem;
    }
  }
}

@media screen and (max-width:700px){
 
  header{
    img{
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
    .texto-header{
      position: absolute;
      z-index: 3;
      top: 52%;
      left: 7%;
      h1{
        font-size: 2.6rem;
        line-height: 2.6rem;
        width: 28rem;
        margin-bottom: 3rem;
      }
    }
  }
  .perfeita{
    justify-content: space-between;
    margin: 4rem auto;
    gap: 4rem;
    flex-direction: column;
    .perfeita-left{
      gap: 4rem;
      h2{
        font-size: 2.8rem;
        line-height: 2.8rem;
        width: 23rem;
      }
      p{
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }
    iframe{
      width: 39rem;
      height: 29rem;
    }
  }
  .ensino{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .infantil{
      flex-direction: column;
      align-items: center;
      padding-top: 3rem;
      img{
        order: 2;
        width: 100%;
      }
      .infantil-right{
        order: 1;
        width: 85vw;
        text-align: right;
        align-items: flex-end;
        h3{
          font-size: 2.8rem;
          line-height: 2.8rem;
        }
        h4{
          font-size: 1.8rem;
          line-height: 2.8rem;
          margin-bottom: 2rem;
        }
        p{
          font-size: 1.6rem;
          line-height: 2.2rem;
          margin-bottom: 2rem;
          width: auto;
        }
      }
    }
    .fundamental{
      flex-direction: column;
      align-items: center;
      padding-top: 3rem;
      img{
        width: 100%;
      }
      .infantil-right{
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        h3{
          font-size: 2.8rem;
          line-height: 2.8rem;
        }
        h4{
          font-size: 1.8rem;
          line-height: 2.8rem;
          margin-bottom: 2rem;
        }
        p{
          font-size: 1.6rem;
          line-height: 2.2rem;
          margin-bottom: 2rem;
          width: auto;
        }
      }
    }
  }
  .contraturno{
    display: flex;
    margin: 4rem 0;
   
    h2{
      font-size: 2.8rem;
      line-height: 2.8rem;
    }
    > p{
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: .8rem;
    }
    .wrap-contraturno{
      flex-direction: column;
      align-items: center;
      margin: auto;
      justify-content: flex-start;
      .contraturno-right{
        order: 1;
        width: 70%;
        margin-top: 2rem;
        img{
          width: 100%;
        }
      }
      .contraturno-left{
        order: 2;
        gap: 2rem;
        margin: 2rem auto 0;
        width: 90vw;
        .left-item{
          display: flex;
          align-items: center;
          gap: 1.7rem;
          img{
            width: 3.4rem;
          }
          p{
            width: 34rem;
            font-size: 1.6rem;
            color: $cinza;
            line-height: 2.2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .educacao{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    h2{
      font-size: 2.8rem;
      line-height: 3.2rem;
    }
    .wrap-educacao{
      flex-wrap: wrap;
      margin-top: 3rem;
      margin-bottom: 3rem;
      .educacao-item{
        width: 16rem;
        span{
          font-size: 3rem;
          line-height: 4rem;
        }
        p{
          font-size: 1.6rem;
          line-height: 2.1rem;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  .metodologia{
    margin-bottom: 3rem;
    img{
      width: 100%;
    }
    .metodologia-texto{
      top: 40%;
      width: 90vw;
      h4{
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
      p{
        font-size: 2.4rem;
        line-height: 2.4rem;
        margin-top: 1.6rem;
        width: auto;
      }
    }
  }
  .abordagem{
    padding-bottom: 3rem;
    width: 90vw;
    h2{
      font-size: 2.8rem;
      line-height: 2.8rem;
      width: 32rem;
      margin-top: 5rem;
    }
    p{
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-top: 3rem;
    }
    .wrap-principios{
      gap: 1.5rem;
      margin-top: 3rem;
      img{
        width: 12rem;
      }
    }
  }
  .alem{
    align-items: center;
    padding-top: 6.3rem;
    background: url(../img/alem-back-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    .alem-texto{
      width: 100%;
      background-color: $musgo-100;
      h3{
        font-size: 1.6rem;
        line-height: 2rem;
      }
      h1{
        font-size: 2.8rem;
        line-height: 2.8rem;
        margin-top: 1rem;
      }
      p{
        font-size: 1.6rem;
        margin: 3.5rem auto 0;
        width: 90vw;
      }
    }
    .alem-itens{
      gap: 3rem;
      padding-top: 5rem;
      margin-top: 0;
      width: 100%;
      background-color: $musgo-100;
      .item{
        gap: 1.2rem;
        width: 100%;
        padding-left: 3rem;
        img{
          width: 3rem;
        };
        p{
          font-size: 1.6rem;
          line-height: 1.6rem;
          width: 16rem;
        }
        &:nth-child(-n+4){
          justify-content: flex-end;
          padding-right: 1rem;
        }
      }
    }
    a{
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
    .alem-left{
      position: absolute;
      left: 0;
      top: 32%;
      width: 45%;
    }
    .alem-right{
      position: absolute;
      right: 0;
      top: 55%;
      width: 70%;
      img{
        width: 100%
      }
    }
  }
  .emocional{
    position: relative;
    margin-bottom: 3rem;
    img{
      width: 100%;
    };
    h2{
      font-size: 2.8rem;
      line-height: 2.8rem;
      text-align: center;
      color: white;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
    }
  }
  .inclusao{
    > p{
      width: 85vw;
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-bottom: 3rem;
    }
    .itens{
      width: 50vw;
      margin: auto;
      gap: 2.2rem;
      transform: translateX(0%);
      .item{
        display: flex;
        align-items: center;
        gap: 1.4rem;
        img{
          width: 2.4rem;
        }
        p{
          font-size: 3.2rem;
          line-height: 3.2rem;
        }
      }
    }
  }
  .nossos-parceiros {
    margin-top: 5rem;
    position: relative;
    h2{
      font-size: 2.8rem;
      line-height: 2.8rem;
      margin-bottom: 5rem;
    }
    .parceirosIcons{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      margin: 0 auto 6rem;
    }
    img{
      width: 9.5rem;
    }
  }
  .material{
    gap: 2.6rem;
    width: 85vw;
    h1{
      font-size: 2.8rem;
      line-height: 2.8rem;
      text-align: center;
    }
    p{
      color: $cinza;
      font-size: 1.6rem ;
      line-height: 2.2rem;
    }
    a{
      margin-bottom: 10rem;
    }
  }
  .pre-footer {
    .textoPreFooter {
      gap: 3.5rem;
      margin-bottom: 8rem;
      p {
        font-size: 2.8rem;
        line-height: 2.8rem;
        max-width: 38rem;
        text-align: center;
      }
    }
    > img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .jesus{
      position: absolute;
      left: 0;
      transform: translateY(0%);
      top: -25%;
      z-index: 10;
      width: 21.4rem;
      img{
        width: 100%;
      }
    }
    .pomba{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
      width: 14rem;
      img{
        width: 100%;
      }
    }
  }
  footer {
    padding-top: 1rem;
    .img{
      width: 50vw;
      img{
        width: 100%;
      }
    }
    a {
      color: $cinza;
    }
    p {
      font-weight: 400;
      color: $cinza;
      font-size: 1.4rem;
    }
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;
  
      .left {
        display: flex;
        flex-direction: column;
        z-index: 56;
        margin-top: 1rem;
        p {
          max-width: 31.4rem;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2rem;
          color: $cinza;
          text-align: center;
        }
      }
  
      .right {
        display: flex;
        flex-direction: column;
        margin-right: 0rem;
        z-index: 3;
        align-items: center;
        margin-top: 3rem;
  
        a {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.3rem;
        }
        p {
          font-size: 1.6rem;
          text-align: center;
        }
        .icones{
          a{
            height: 2.2rem;
            img{
            height: 100%;
            }
          }
        }
      }
    }
    .divisoria-footer {
      display: block;
      border-bottom: 1px solid $verde-300;
      margin: 2% 0;
    }
  }
  .fale{
    .fale-texto{
      flex-direction: column;
      width: 90vw;
      margin-top: 4rem;
      align-items: flex-start;

      h2{
        font-size: 2.8rem;
        line-height: 2.8rem;
        margin-bottom: 3rem;
      }
      p{
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
      strong{
        font-size: 1.8rem;
      }
    }
    .fale-agende{
      flex-direction: column;
      width: 90vw;
      justify-content: space-between;
      align-items: center;
      margin: 4rem auto 17rem;
      gap: 2rem;
      padding-right: 0rem;
      padding-top: 2rem;
      padding-left: 1rem;
      
      img{
        margin-left: 0rem;
        order: 2;
        width: 38rem;
      }
      h2{
        font-size: 2.4rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;
      }
      p{
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (min-width:701px) and (max-width:1270px){
  header{
   
    .texto-header{
      top: 45%;
      left: 5%;
      h1{
        font-size: 3.2rem;
        line-height: 3.2rem;
        width: 40rem;
        margin-bottom: 2rem;
      }
    }
  }
  .perfeita{
    margin: 6rem auto;
    gap: 3rem;
    .perfeita-left{
      gap: 3rem;
      h2{
        font-size: 4rem;
        line-height: 4rem;
        width: 31rem;
      }
      p{
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: 400;
      }
    }
    iframe{
      max-height: 38rem;
    }
  }
  .ensino{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .infantil{
      gap: 2rem;
      img{
        width: 100%;
      }
      .infantil-right{
        padding-right: 2rem ;
        flex: 1;
        h3{
          font-size: 2.8rem;
          line-height: 2.8rem;
        }
        h4{
          font-size: 2rem;
          line-height: 3rem;
          margin-bottom: 2rem;
        }
        p{
          font-size: 1.6rem;
          line-height: 2rem;
          margin-bottom: 1.5rem;
          width: 41rem;
        }
      }
    }
    .fundamental{
      gap: 2rem;
      img{
        width: 100%;
      }
      .infantil-right{
        padding-left: 2rem ;
        flex: 1;
        h3{
          font-size: 2.8rem;
          line-height: 2.8rem;
        }
        h4{
          font-size: 2rem;
          line-height: 3rem;
          margin-bottom: 2rem;
        }
        p{
          font-size: 1.6rem;
          line-height: 2rem;
          margin-bottom: 1.5rem;
          width: 41rem;
        }
      }
    }
  }
  .contraturno{
    margin: 4rem 0;
    h2{
      font-size: 4rem;
    }
    > p{
      font-size: 1.8rem;
      line-height: 2rem;
      margin-top: 1rem;
    }
    .wrap-contraturno{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 2rem;
      .contraturno-right{
        flex: 1;
        img{
          width: 100%;
        }
      }
      .contraturno-left{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
        .left-item{
          display: flex;
          align-items: center;
          gap: 1rem;
          p{
            width: 30rem;
            font-size: 1.8rem;
            line-height: 2.5rem;
          }
          img{
            width: 4rem;
          }
        }
      }
    }
  }
  .educacao{
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: auto;
    h2{
      font-size: 4rem;
      line-height: 4rem;
    }
    .wrap-educacao{
      flex-wrap: wrap;
      margin-top: 5rem;
      margin-bottom: 5rem;
      .educacao-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 23rem;
        span{
          font-size: 4rem;
          line-height: 4rem;
          margin-bottom: 0.9rem;
          font-family: $eloise;
        }
        p{
          font-size: 1.8rem;
          line-height: 2.4rem;
          color: $cinza;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  .metodologia{
    margin-bottom: 7rem;
    .metodologia-texto{
      h4{
        font-size: 1.8rem;
        line-height: 2rem;
      }
      p{
        font-size: 2.5rem;
        line-height: 2.8rem;
        margin-top: 2rem;
        width: 45rem;
      }
    }
  }
  .abordagem{
    padding-bottom: 7rem;
    h2{
      font-size: 4rem;
      line-height: 4rem;
      margin-top: 5rem;
    }
    p{
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: 3.5rem;
    }
    .wrap-principios{
      gap: 3rem;
      margin-top: 5.5rem;
      img{
        width: 20rem;
      }
    }
  }
  .alem{
    align-items: center;
    padding-top: 9rem;
    background: url(../img/alem-back-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    .alem-texto{
      width: 100%;
      background-color: $musgo-100;
      h3{
        font-size: 2rem;
        line-height: 2rem;
      }
      h1{
        font-size: 4rem;
        line-height: 4rem;
        margin-top: 1rem;
      }
      p{
        font-size: 2rem;
        margin: 3rem auto 0;
        width: 90vw;
      }
    }
    .alem-itens{
      gap: 3rem;
      padding-top: 5rem;
      margin-top: 0;
      width: 100%;
      background-color: $musgo-100;
      .item{
        gap: 1.2rem;
        width: 100%;
        padding-left: 5rem;
        img{
          width: 5rem;
        };
        p{
          font-size: 2rem;
          line-height: 2rem;
          width: 30rem;
        }
        &:nth-child(-n+4){
          justify-content: flex-end;
          padding-right: 1rem;
        }
      }
    }
    a{
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
    .alem-left{
      position: absolute;
      left: 0;
      top: 24%;
      width: 41%;
    }
    .alem-right{
      position: absolute;
      right: 0;
      top: 48%;
      width: 60%;
      img{
        width: 100%
      }
    }
  }
  .emocional{
    position: relative;
    margin-bottom: 7rem;
    img{
      width: 100%;
    };
    h2{
      font-size: 4.8rem;
      color: white;
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
  .inclusao{
    > p{
      width: 85vw;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 3rem;
    }
    .itens{
      width: 50vw;
      gap: 4rem;
      transform: translateX(0%);
      .item{
        gap: 2rem;
        p{
          font-size: 4rem;
          line-height: 4rem;
        }
        >img{
          width: 3rem;
        }
      }
    }
  }
  .nossos-parceiros {
    margin-top: 8rem;
    h2{
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 5rem;
    }
    .parceirosIcons{
      width: 85%;
      gap: 4rem;
      flex-wrap: wrap;
      margin: 0 auto 7rem;
      justify-content: center;
    }
  }
  .material{
    gap: 7rem;
    h1{
      font-size: 4rem;
      line-height: 4rem;
    }
    p{
      font-size: 1.8rem ;
    }
    a{
      margin-bottom: 10rem;
    }
  }
  .pre-footer {
    padding-top: 8rem;
    align-items: center;
    position: relative;
    .textoPreFooter {
      gap: 5rem;
      margin-bottom: 10rem;
      p {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
    > img{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .jesus{
      transform: translateY(-110%);
      width: 30rem;
      img{
        width: 100%;
      }
    }
    .pomba{
      width: 25rem;
      img{
        width: 100%;
      }
    }
  }
  footer {
    padding-bottom: 2rem;
    padding-top: 2rem;
    .top {
      width: 85%;
  
      .right {
        margin-right: 0rem;
      }
    }
  }
}