---
title: "Educação com Princípios Cristãos"
description: Sem descrição?
date: 2024-05-06T14:27:36.279Z
tags:
  - post
thumbnail: /img/blog/blog1.jpg
---

<section class="blog-principios">
  <h3 class="laranja">Educação com Princípios Cristãos</h3>
  <p>Uma educação com princípios cristãos oferece mais do que excelência acadêmica, mas também busca nutrir o desenvolvimento integral dos alunos, cultivando valores de fé, amor, respeito, compaixão, integridade e todos os outros ensinamentos que Jesus nos traz. </p>
  <p>Na Escola Batista Shalon nós temos 7 princípios bíblicos como base de ensino:</p>
  <div class="wrap-title">
    <img src="../../img/icones/individualidade.png" alt="">
    <h4 class="darkGreen">Individualidade</h4>
  </div>
  <p>A individualidade reconhece a identidade única de cada pessoa, sua vocação e propósito, promovendo uma variedade complementar entre todos.</p>
  <div class="wrap-title">
    <img src="../../img/icones/autogoverno.png" alt="">
    <h4 class="musgo">Autogoverno</h4>
  </div>
  <p>O autogoverno ensina que a verdadeira liberdade vem de nos governarmos internamente, mediante a obediência a Deus, com Cristo como nosso guia supremo.</p>
  <div class="wrap-title">
    <img src="../../img/icones/carater.png" alt="">
    <h4 class="amarelo">Caráter</h4>
  </div>
  <p>O caráter é a marca da nossa herança cristã. A imagem de Deus refletida no indivíduo, moldado à semelhança de Cristo, traz benefícios à vida, ambiente e relacionamentos.</p>
  <div class="wrap-title">
    <img src="../../img/icones/semeadura.png" alt="">
    <h4 class="roxo">Semeadura e Colheita</h4>
  </div>
  <p>A semeadura e colheita revelam a importância de semear os princípios da palavra de Deus em pensamentos, palavras e ações para colher resultados positivos no indivíduo e na sociedade, promovendo crescimento.</p>
  <div class="wrap-title">
    <img src="../../img/icones/alianca.png" alt="">
    <h4 class="rosa">Aliança</h4>
  </div>
  <p>A aliança é a união voluntária de pessoas diversas, compartilhando princípios e propósitos, em áreas como vida doméstica, comunitária e de nação.</p>
  <div class="wrap-title">
    <img src="../../img/icones/mordomia.png" alt="">
    <h4 class="laranja">Mordomia</h4>
  </div>
  <p>Começamos zelando por nossa consciência, para então sermos produtivamente responsáveis pela propriedade externa, com tudo que Deus nos confiar.</p>
  <p>A Escola Batista Shalon é comprometida em oferecer mais do que apenas ensino de qualidade, mas proporcionar uma educação fundamentada em princípios e valores cristãos, preparando os alunos para uma vida de significado, propósito e serviço a Deus e ao próximo. </p>
  <p>Nossa missão é ser luz em meio à escuridão, capacitando nossos alunos a serem agentes de transformação em um mundo que tanto precisa do amor e da verdade de Cristo.</p>
  <p>Gostaria de saber mais sobre a educação com princípios? Entre em contato!</p>
</section>
