---
title: "Conheça os parceiros da Escola Batista Shalon"
description: Sem descrição?
date: 2024-01-12T14:27:36.279Z
tags:
  - post
thumbnail: /img/blog/blog4.jpg
---
<section class="blog-conheca">
<h3 class="rosa">
  Conheça os parceiros da Escola Batista Shalon
</h3>
<p>Para construir um lugar de ensino de qualidade e princípios cristãos, contamos com alguns parceiros que enriquecem nosso trabalho na Escola Batista Shalon, contribuindo para o desenvolvimento acadêmico, pessoal e espiritual dos nossos alunos.</p>
<p>Neste artigo, vamos falar um pouco sobre cada instituição parceira da EBS!</p>
<h4 class="musgo">
  Sistema de Ensino Mackenzie
</h4>
<p>O Sistema de Ensino Mackenzie é uma instituição educacional cristã da Educação Infantil ao Ensino Médio, contemplando material didático, soluções educacionais e capacitação pedagógica de qualidade.</p>
<p>O Sistema Mackenzie de Ensino fornece uma pedagogia cristã, com materiais e recursos didáticos, comprometidos com valores e princípios cristãos. O Instituto tem por objetivo formar cidadãos com uma educação eficaz, capazes de discernir, realizar uma leitura do mundo e intervir na sociedade com base nos princípios cristãos.</p>
<h4 class="roxo">ACSI Educação Internacional</h4>
<p>A ACSI é uma Associação Cristã de Educação presente em todos os continentes para escolas cristãs, com a proposta de Integração da Cosmovisão Cristã no currículo, respeitando as especificidades de cada país.</p>
<h4 class="laranja">AECEP Princípios Cristãos </h4>
<p>A AECEP (Associação das Escolas Cristãs de Educação por Princípios) promove o desenvolvimento de escolas e educadores, com uma abordagem reflexiva e fundamentação cristã.</p>
<h4 class="rosa">OPEE Orientação Profissional, Empregabilidade e Empreendedorismo</h4>
<p>A OPEE tem o objetivo de propiciar o desenvolvimento do autoconhecimento e dos projetos de vida da criança e do adolescente por meio das suas afinidades e aptidões.</p>
<h4 class="darkGreen">Stanford University</h4>
<p>A Stanford University tem um ensino de inglês com as incríveis soluções e materiais didáticos construídos por especialistas em ensino de aprendizado de idioma. Contamos com essa metodologia para o ensino do projeto bilíngue, presente na grade curricular dos nossos alunos.</p>
<h4 class="amarelo">Rockfeller </h4>
<p>A Rockfeller traz o ensino de inglês como atividade extracurricular voltado totalmente para conversação e com tecnologias que potencializam o aprendizado.</p>
<h4 class="roxo">Escola Segura</h4>
<p>Junto com a Brasan, a EBS traz um Seguro Escolar para os alunos. O Seguro Escolar oferece atendimento completo e uma ampla oferta de hospitais credenciados, mas também é possível escolher um hospital da sua preferência, tendo as despesas reembolsadas para os acidentes acontecidos dentro da escola, eventos escolares e durante o trajeto entre a casa e a escola, e vice-versa. </p>
<p>A Brasan também possui a assistência escolar, que oferece remoção inter-hospitalar, monitoração médica, aulas domiciliares, transporte para tratamentos fisioterápicos, além de ser possível obter um reembolso integral dos medicamentos utilizados em decorrência do acidente.</p>
<h4 class="laranja">Instituto Futuro da Excelência</h4>
<p>O Instituto Futuro da Excelência é um instituto de educação que fornece cursos para diversas instituições, como igrejas e escolas, ministrando aulas de Circo, Judô, Aula de Arte e Reforço Escolar de Português e Matemática. </p>
<p>Os recursos gerados através desses cursos sustentam uma obra social realizada no Ganchinho, um bairro com muita vulnerabilidade social em Curitiba.</p>
<h4 class="musgo">Editora Divinamente</h4>
<p>A Editora Divinamente é uma editora de materiais cristãos. Eles oferecem materiais didáticos com ensinamentos bíblicos que tem por objetivo transformar a vida das crianças, fortalecendo a fé dos pequenos e preparando-os para a vida. </p>
<p>Os materiais possuem atividades para o desenvolvimento do motor fino, concentração, fixação de conteúdo, desenvolvimento do raciocínio e interpretação, ajudando as crianças a aprenderem de forma mais efetiva. </p>
<p>Com esses parceiros, construímos uma escola que oferece ensino preocupado com o futuro e princípios,  guiando nossos alunos para um futuro brilhante. </p>
<p>Gostaria de saber mais sobre a Escola Batista Shalon? Entre em contato!</p>
</section>