---
title: "Educação Base para o Futuro"
description: Sem descrição?
date: 2024-04-08T14:27:36.279Z
tags:
  - post
thumbnail: /img/blog/blog2.jpg
---
<section class="blog-educacao">
<h3 class="darkGreen">Educação Base para o Futuro</h3>
<p>Acreditamos que investir em educação é investir no futuro, mas também em sonhos. Os maiores presentes que podemos deixar para as nossas crianças são a fé em Jesus Cristo e a educação, incentivando-os a alcançar um futuro que honre o Senhor em cada ação.</p>
<p>Os nossos alunos estão preparados não apenas para o sucesso acadêmico, mas também para a vida. Nossa equipe pedagógica e psicológica trabalha questões como inteligência emocional, educação financeira e habilidades linguísticas no inglês, com o projeto bilíngue. </p>
<p>A educação, além de ser um presente para o presente, é um presente para o futuro, e na Escola Batista Shalon não transmitimos apenas conhecimento, mas também construímos alicerces para transformar vidas.</p>
<p>Além de todo o currículo educacional que nossos alunos recebem, também contribuímos para o desenvolvimento pessoal e espiritual de cada um deles, com trabalhos nas áreas de:</p>
<div class="wrap-title">
  <img src="../../img/icones/inteligencia.png" alt="">
  <h4 class="amarelo">Inteligência Emocional</h4>
</div>
<p>O autoconhecimento é essencial na formação das crianças. Trabalhamos a inteligência emocional ajudando nossos pequenos a se tornarem emocionalmente saudáveis, para que consigam expressar seus sentimentos, lidar com as dificuldades da vida e nomear o que sentem e vivem.</p>
<div class="wrap-title">
  <img src="../../img/icones/financeira.png" alt="">
  <h4 class="roxo">Educação Financeira</h4>
</div>
<p>Ajudamos os nossos alunos a entender sobre finanças e desenvolver senso de responsabilidade sobre o dinheiro, além de trabalhar habilidades de empreendedorismo, inovação e criatividade. Essa é habilidade fundamental para o crescimento das crianças, com o entendimento sobre o dinheiro e como construir um bom relacionamento com ele e usá-lo para a glória de Deus.</p>
<div class="wrap-title">
  <img src="../../img/icones/bilingue.png" alt="">
  <h4 class="rosa">Projeto Bilíngue</h4>
</div>
<p>Temos a visão de preparar nossos alunos para um futuro que ultrapassa fronteiras e culturas. Oferecemos uma educação excepcional que une a fé cristã com uma perspectiva global. E um dos pilares desse compromisso é o nosso projeto de ensino bilíngue.<br/>Nosso projeto bilíngue tem por objetivo ensinar um idioma usado no mundo todo e que abrirá portas futuras a cada estudante, os ajudando a se comunicar em inglês e alcançar oportunidades incríveis.</p>
<p>Na Escola Batista Shalon nossos alunos estão enraizados na fé, preparados para o mundo e capacitados a fazer a diferença em qualquer lugar que Deus os levar, porque uma educação de princípios prepara o seu filho para as diferentes esferas da vida adulta. </p>
<p>Gostaria de saber mais sobre a educação cristã com base para o futuro? Entre em contato!</p>
</section>