---
title: "Cada aluno é único"
description: Sem descrição?
date: 2024-03-25T14:27:36.279Z
tags:
  - post
thumbnail: /img/blog/blog3.jpg
---

<section class="blog-cada">
  <h3 class="musgo">Cada aluno é único</h3>  
  <p>Na Escola Batista Shalon, acreditamos que cada aluno é único e especial, com suas próprias características e necessidades. Nós amamos as particularidades que cada um deles tem, sua personalidade, jeitinho, risada, habilidades, dificuldade, sonhos… tudo que faz com que cada criança seja única. </p>
  <p>Por isso, trabalhamos com o objetivo de fazer com que todos se sintam incluídos e pertencentes à nossa comunidade escolar. Somos uma escola que preza pela acessibilidade e temos o compromisso com a inclusão. </p>
  <p>Ao promover um ambiente acolhedor e inclusivo, onde todos se sentem valorizados e respeitados, lutamos para garantir com que cada aluno tenha a oportunidade de alcançar seu pleno potencial. Além disso, trabalhamos com os nossos estudantes a importância de acolher e respeitar as diferenças e tratar todas as pessoas com respeito, independentemente de suas características individuais.</p>
  <p>Em nossas atividades, inserimos Projetos de Inclusão, como:</p>
  <div class="wrap-itens">
    <img src="../../img/bola-laranja.png" alt="">
    <p>Dia Mundial da Conscientização do Autismo</p>
  </div>
  <div class="wrap-itens">
    <img src="../../img/bola-amarela.png" alt="">
    <p>Dia Internacional da Síndrome De Down</p>
  </div>
  <div class="wrap-itens">
    <img src="../../img/bola-verde.png" alt="">
    <p>Experiências sensoriais sobre a visão</p>
  </div>
  <p>E tantos outros trabalhos na formação de crianças e adolescentes mais conscientes, empáticos e altruístas.</p>
  <p>Cada uma delas traz consigo um mundo de possibilidades, potencialidades e caminhos para explorar. Por isso, incentivamos a singularidade de cada aluno, para que ele se sinta bem, valorizado e amado por ser quem é, glorificando a Deus que o criou exatamente assim 🫂🧡</p>
  <p>Juntos, podemos construir uma escola e uma comunidade mais justa e inclusiva para todos! 🧡</p>
  <p>Gostaria de saber mais sobre a educação cristã com base para o futuro? Entre em contato!</p>
</section>