$amarelo: #FED000;
$cinza: #485163;
$laranja-100: #FEFDF8;
$laranja-200: #FCF6DD;
$laranja-300: #FFCF00;
$laranja-400: #EF8219;
$laranja-600: #f07402;
$musgo-100: #F0F4DC;
$musgo-200: #D9E1A0;
$musgo-300: #C5D663;
$musgo-400: #BFCC4C;
$musgo-600: #A8C51B;
$rosa: #EE7E98;
$roxo: #A6A5D2;
$verde-300: #00A652;
$verde-400: #09A552;
$verde-600: #009c42;
$white: #fff;
