@import "./colors";

$omnes: omnes-pro, sans-serif;
$eloise: hey-eloise, sans-serif;

strong {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  font-size: 62.5%;
  overflow-x: hidden;

}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $omnes;
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body,
input,
button,
textarea {
  font-family: $omnes;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $omnes;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.mobile-only {
  display: none;
}

@media (orientation: portrait) and (max-width: 700px) {
  .mobile-only {
    display: block;
  }
  .tablet-desktop{
    display: none;
  }
}
@media (min-width: 1271px){
  .mobile-tablet{
    display: none;
  }
}
@media (min-width: 701px){
  .tablet-desktop{
    display: block;
  }
}
@media (max-width:1270px){
  .desktop-only{
    display: none;
  }
}

.laranja {
  color: $laranja-600;
}
.rosa {
  color: $rosa
}
.darkGreen{
  color: $verde-300
}
.lightGreen{
  color: $musgo-600;
}
.roxo{
  color: $roxo;
}
.musgo{
  color: $musgo-300;
}
.amarelo{
  color: $amarelo;
}

.whatsapp {
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  right: 8rem;
  height: 8rem;

  @media screen and (max-width: 700px) {
    bottom: 2.5rem;
  left: 80%;
  height: 6rem;
  }
}