---
title: Escola Batista Shalon
layout: "base.njk"
cssPath: "/css/blog.css"
eleventyImport:
collections: ["post"]
---


<nav class="nav2" data-scroll-section>
  <a href="/">
    <img src="../img/shalon-logo.svg" alt="logo escola batista shalon">
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">INÍCIO</a></li>

    <li><a href="">CONTATO</a></li>

    <label class="menu-icon-inside mobile-only" for="menu-btn">
      <span class="navicon"></span
    ></label>
  </ul>
</nav>

<header>
  <img src="../img/blog/blog-header.png" alt="">
  <h1>Blog</h1>
</header>

<section class="main">
  {% for post in collections.post | reverse | limit (4) %}
    <div class="blog-item">
      <a href="{{ post.url }}">
        <img src="{{ post.data.thumbnail }}" alt="" />
        <div class="titulo-data">
          <span class="categoria-main">
            {{ tag }}
          </span>  
          <p class="data">{{ post.data.date | postDate('pt-BR') }}</p>
          <h3>{{ post.data.title }}</h3>
        </a> 
      </div>
    </div>
      {%- endfor %}
    
</section>


  {% include 'footer.njk' %}

