---
title: Escola Shalon
layout: "base.njk"
cssPath: "/css/blog-inicio.css"
eleventyImport:
collections: ["post"]
---

{% include 'header.njk' %}

<section class="novidade">
  <div class="principal">
    <div class="foto-categoria">
      <img
        src="../img/Blog/kids-with-tablet-couch 1.svg"
        alt="crianças com tablet"
      />
      <span class="categoria-main">CATEGORIA BLOG</span>
    </div>
    <div class="titulo-data">
      <h3>Título da matéria</h3>
      <p class="data">00/00/00</p>
    </div>
  </div>
  <div class="sidebar">
    <div>
      <div class="foto-categoria">
        <img
          src="../img/Blog/positive-cute-teenagers-sit-bench-look-camera-smile-cute-boys-girls-schoolchildren-outdoors 1.svg"
          alt=""
        />
        <span class="categoria-side">CATEGORIA BLOG</span>
      </div>
      <div class="titulo-data">
        <h4>Título da matéria</h4>
        <p class="data">00/00/00</p>
      </div>
    </div>
    <div>
      <div class="foto-categoria">
        <img
          src="../img/Blog/siblings-playing-with-brain-teaser-toys 1.svg"
          alt=""
        />
        <span class="categoria-side">CATEGORIA BLOG</span>
      </div>
      <div class="titulo-data">
        <h4>Título da matéria</h4>
        <p class="data">00/00/00</p>
      </div>
    </div>
  </div>
</section>

<div class="divisoria"></div>

<h1 class="rosa">Últimos Posts</h1>

<section class="ultimos">
  {%- for post in collections.post | reverse | limit -%}
  <a href="{{ post.url }}">
    <div class="ultimos-item flex">
      <img src="{{ post.data.thumbnail }}" alt="" />

      {% for tag in post.data.tags -%} {% if tag !== 'post' %}
      <span class="categoria">
        {{ tag }}
      </span>
      {% endif %} {%- endfor %}

      <p class="data">{{ post.data.date | postDate }}</p>
      <h4>{{ post.data.title }}</h4>
      <p class="resumo">
        {{ post.data.description | safe }}
      </p>
    </div>
  </a>
  {%- endfor %}
</section>

{% include 'footer.njk' %}
