---
title: Escola Shalon
layout: "base.njk"
cssPath: "/css/blog-inicio.css"
---

<body>
  <header class="main-head">
    <a href="https://escolabatistashalon.com.br/"
      ><img src="../img/shalon-logo.svg" class="logo" alt=""
    /></a>
    <section class="head">
      <h1>BLOG</h1>
      <H2>Fique por dentro!</H2>
      <a href="https://escolabatistashalon.com.br/"
        ><div role="button" class="voltar darkGreenButton">
          <img src="../img/Vector.svg" alt="" /> VOLTAR
        </div></a
      >
    </section>
  </header>
  <main></main>
</body>
<section class="novidade">
  <div class="principal">
    <img
      src="../img/Blog/kids-with-tablet-couch 1.svg"
      alt="crianças com tablet"
    />
    <span class="categoria">CATEGORIA BLOG</span>
    <h3>Título da matéria</h3>
    <p class="data">00/00/00</p>
  </div>
  <div class="sidebar">
    <div>
      <img
        src="../img/Blog/positive-cute-teenagers-sit-bench-look-camera-smile-cute-boys-girls-schoolchildren-outdoors 1.svg"
        alt=""
      />
      <span class="categoria">CATEGORIA BLOG</span>
      <h4>Título da matéria</h4>
      <p class="data">00/00/00</p>
    </div>
    <div>
      <img
        src="../img/Blog/siblings-playing-with-brain-teaser-toys 1.svg"
        alt=""
      />
      <span class="categoria">CATEGORIA BLOG</span>
      <h4>Título da matéria</h4>
      <p class="data">00/00/00</p>
    </div>
  </div>
</section>
<div class="divisoria"></div>
<h1 class="rosa">Últimos Posts</h1>
<section class="ultimos">
  <div class="ultimos-item flex">
    <img src="../img/Blog/Rectangle 515.svg" alt="" />
    <span class="categoria">CATEGORIA BLOG</span>
    <p class="data">00/00/00</p>
    <h4>Título da matéria</h4>
    <p class="resumo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus odio
      repellendus, et quae modi laudantium ullam! Ipsa nesciunt ea nulla ipsum
      reiciendis sit eius iure.
    </p>
  </div>
  <div class="ultimos-item flex">
    <img src="../img/Blog/Rectangle 515.svg" alt="" />
    <span class="categoria">CATEGORIA BLOG</span>
    <p class="data">00/00/00</p>
    <h4>Título da matéria</h4>
    <p class="resumo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus odio
      repellendus, et quae modi laudantium ullam! Ipsa nesciunt ea nulla ipsum
      reiciendis sit eius iure.
    </p>
  </div>
  <div class="ultimos-item flex">
    <img src="../img/Blog/Rectangle 515.svg" alt="" />
    <span class="categoria">CATEGORIA BLOG</span>
    <p class="data">00/00/00</p>
    <h4>Título da matéria</h4>
    <p class="resumo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus odio
      repellendus, et quae modi laudantium ullam! Ipsa nesciunt ea nulla ipsum
      reiciendis sit eius iure.
    </p>
  </div>
  <div class="ultimos-item flex">
    <img src="../img/Blog/Rectangle 515.svg" alt="" />
    <span class="categoria">CATEGORIA BLOG</span>
    <p class="data">00/00/00</p>
    <h4>Título da matéria</h4>
    <p class="resumo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus odio
      repellendus, et quae modi laudantium ullam! Ipsa nesciunt ea nulla ipsum
      reiciendis sit eius iure.
    </p>
  </div>
  <div class="ultimos-item flex">
    <img src="../img/Blog/Rectangle 515.svg" alt="" />
    <span class="categoria">CATEGORIA BLOG</span>
    <p class="data">00/00/00</p>
    <h4>Título da matéria</h4>
    <p class="resumo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus odio
      repellendus, et quae modi laudantium ullam! Ipsa nesciunt ea nulla ipsum
      reiciendis sit eius iure.
    </p>
  </div>
  <div class="ultimos-item flex">
    <img src="../img/Blog/Rectangle 515.svg" alt="" />
    <span class="categoria">CATEGORIA BLOG</span>
    <p class="data">00/00/00</p>
    <h4>Título da matéria</h4>
    <p class="resumo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus odio
      repellendus, et quae modi laudantium ullam! Ipsa nesciunt ea nulla ipsum
      reiciendis sit eius iure.
    </p>
  </div>
</section>
<footer>
  <div class="top">
    <div class="left">
      <img src="../img/shalon-logo.svg" alt="" />
      <p>
        “Instrua a criança segundo os objetivos que você tem para ela, e mesmo
        com o passar dos anos não se desviará deles.” <br /><br />
        <strong>Provérbios 22:6</strong>
      </p>
    </div>

    <div class="right">
      <a href="tel:4133467271">(41) 3346-7271</a>
      <a>atendimento@ebshalon.com</a>
      <a>
        R Alferes Pedro Magno de Barros, 333 <br />
        <p>Xaxim, Curitiba, PR. 81810-210</p>
      </a>
      <div>
        <a href="https://www.instagram.com/ebshalon/" target="_blank">
          <img src="../img/instagram-laranja.svg" alt="" />
        </a>
        <a href="https://www.facebook.com/ebatistashalon/" target="_blank">
          <img src="../img/Facebook-laranja.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
  <span class="divisoria-laranja"></span>

  <p>© 2024 por Escola Batista Shalon</p>

  <img class="footer-cores" src="../img/Blog/Group 46.png" alt="" />
</footer>
