---
title: Escola Batista Shalon
layout: "base.njk"
cssPath: "/css/home-2024.css"
---
<nav class="nav2" data-scroll-section>
  <a href="/">
    <img src="../img/shalon-logo.svg" alt="logo escola batista shalon">
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">INÍCIO</a></li>

    <li><a href="">BLOG</a></li>

    <label class="menu-icon-inside mobile-only" for="menu-btn">
      <span class="navicon"></span
    ></label>
  </ul>
</nav>
<section class="fale">
  <div class="fale-texto">
    <h2 class="darkGreen">Fale Conosco</h2>
    <div class="fale-right">
      <p>R Alferes Pedro Magno de Barros, 333  - Xaxim - Curitiba, PR</p>
      <strong>(41) 3346-7271</strong>
      <p>atendimento@ebshalon.com</p>
    </div>
  </div>
  <div class="fale-agende">
    <img src="../img/fale.png" alt="">
    <div class="agende-right">
      <h2 class="laranja">Agende uma Visita</h2>
      <p>Venha conhecer a Escola Batista Shalon e os diferenciais de uma educação por princípios!</p>
      <a href="https://api.whatsapp.com/send?phone=5541995980198" class="darkGreenButton">Fale com a gente</a>
    </div>
  </div>

</section>
{% include 'footer.njk' %}

