---
title: Escola Shalon
layout: "base.njk"
cssPath: "/css/home.css"
---

<section class="initial-banner">
  <div class="left-side">
    <img src="./img/shalon-logo.svg" class="logo" alt="" />
    <img src="./img/selo-30anos.svg" class="trinta-anos" alt="" />

    <h1>
      Ensino alinhado às verdades da Palavra de Deus e comprometido com o
      indivíduo.
    </h1>
    <h4>Assim como a sua casa, nossa escola também tem princípios.</h4>
    <a
      href="https://api.whatsapp.com/send?phone=5541995980198"
      class="laranjaButton"
      target="_blank"
      >FALE COM A GENTE</a
    >
  </div>

  <img class="girl-banner" src="./img/girl-background.png" alt="" />
  <img class="banner-right-lines" src="./img/banner-right-lines.svg" alt="" />
  <img class="banner-left-lines" src="./img/banner-left-lines.svg" alt="" />
  <img class="mobile-right-lines" src="./img/lines-girl1.svg" alt="" />
  <img class="mobile-left-lines" src="./img/lines-girl2.svg" alt="" />
</section>
<img class="only-desktop" src="./img/wave-banner.svg" alt="" />
<img class="only-mobile" src="./img/banner-final-mob.svg" alt="" />

<section class="escola-perfeita">
  <h2 class="subtitle only-mobile">
    A Escola perfeita <br />
    para sua Família
  </h2>

  <iframe
    width="438px"
    height="378px"
    allow="fullscreen;"
    class="video"
    src="https://www.youtube.com/embed/9vAsHPqlqnM"
    title="Escola perfeita para seu filho"
  >
  </iframe>

  <div class="content">
    <h2 class="subtitle only-desktop">
      A Escola perfeita <br />
      para sua Família
    </h2>
    <h6 class="only-desktop">Para crianças de 4 a 14 anos</h6>
    <p class="text">
      Transformar famílias tem sido nosso propósito há 30 anos. Ao compartilhar
      o amor de Jesus Cristo, nossa equipe dedicada cria um ambiente de
      aprendizagem seguro, atencioso e positivo. Ofertamos educação acolhedora e
      de ponta, junto com nosso time de educadores e as famílias, temos
      construído a escola cristã, humana que sonhamos.
    </p>

    <a
      class="greenButton"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541995980198"
      >FALE COM A GENTE</a
    >
  </div>
</section>

<section class="nossos-parceiros">
  <h2 class="subtitle orange">Nossos parceiros</h2>

  <div class="cards-container">
    <div class="card">
      <div class="tag">
        <img src="./img/pessoas.svg" alt="" />
      </div>
      <img src="./img/mackenzie.png" alt="" />
      <p><b>Sistema de Ensino Mackenzie</b></p>
    </div>

    <div class="card">
      <div class="tag verde">
        <img src="./img/pessoas.svg" alt="" />
      </div>
      <img src="./img/acsi.png" alt="" />
      <p>
        <b>ACSI</b><br />
        Educação Internacional
      </p>
    </div>

    <div class="card">
      <div class="tag amarelo">
        <img src="./img/pessoas.svg" alt="" />
      </div>
      <img src="./img/aecep.png" alt="" />
      <p>
        <b>AECEP</b><br />
        Princípios Cristãos
      </p>
    </div>

    <div class="card">
      <div class="tag rosa">
        <img src="./img/pessoas.svg" alt="" />
      </div>
      <img src="./img/opee.png" alt="" />
      <p><b>OPEE</b><br /></p>
      <h6>
        Vida e futuro <br />
        inteligência emocional, educação financeira e empreendedorismo
      </h6>
    </div>
  </div>
</section>

<section class="pilares-container">
  <img class="lines1" src="./img/pilares-lines1.svg" alt="" />
  <img class="lines2" src="./img/pilares-lines2.svg" alt="" />
  <img class="lines3" src="./img/pilares-lines3.svg" alt="" />

  <div class="title-container">
    <h2 class="subtitle">
      Educação Cristã de <br />
      Qualidade há 30 anos
    </h2>
    <h4>Ambiente de aprendizagem seguro, atencioso e positivo.</h4>
    <img class="only-desktop" src="./img/selo30-laranja.svg" alt="" />
  </div>

  <div class="pilares">
    <img class="line only-desktop" src="./img/pilares-line.svg" alt="" />
    <img class="line only-mobile" src="./img/linha-pilares-mobile.svg" alt="" />

    <div class="top-titles">
      <div class="content">
        <h3 class="amarelo">As Famílias</h3>
        <p>
          Interessadas em uma escola <br />
          comprometida com o indivíduo <br />
          e não apenas no ensino.
        </p>
      </div>

      <div class="content">
        <h3 class="rosa">O Ensino</h3>
        <p>
          Uma combinação teórica e prática<br />
          do conhecimento secular com as <br />
          verdades da Palavra de Deus
        </p>
      </div>
    </div>

    <div class="circles-container">
      <div class="circle">
        <img src="./img/escola.svg" alt="" />
      </div>
      <div class="circle amarelo">
        <img src="./img/familia.svg" alt="" />
      </div>
      <div class="circle verde">
        <img src="./img/metodo.svg" alt="" />
      </div>
      <div class="circle rosa">
        <img src="./img/ensino.svg" alt="" />
      </div>
    </div>

    <div class="botton-titles">
      <div class="content">
        <h3>A Escola</h3>
        <p>
          Melhor educação cristã em Curitiba.<br />
          Uma extensão das famílias
        </p>
      </div>

      <div class="content">
        <h3 class="verde">O Método</h3>
        <p>
          Abordagem por Princípios <br />
          Bíblicos com material cristão.
        </p>
      </div>
    </div>
  </div>

  <a
    href="https://api.whatsapp.com/send?phone=5541995980198"
    class="greenButton"
    target="_blank"
    >FALE COM A GENTE</a
  >
</section>

<section class="series">
  <div class="slider-container">
    <div class="swiper" id="mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card">
            <div class="ensino-container">
              <img src="./img/ed-infantil.png" alt="" />

              <div class="content">
                <h2 class="subtitle">Educação Infantil</h2>

                <h6>Meio período</h6>
                <p class="text">
                  A Educação Infantil da EBS é um programa imerso em princípios
                  cristãos e baseado na Bíblia, onde as crianças de 4 a 5 anos
                  aprendem sobre a verdade de Deus.
                  <br />
                  <br />
                  Nosso objetivo é apoiar a criança socialmente, emocionalmente,
                  espiritualmente, fisicamente e intelectualmente.
                </p>

                <a
                  class="greenButton"
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=5541995980198"
                  >AGENDE SUA VISITA</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <div class="ensino-container fund1">
              <div class="content">
                <h2 class="subtitle">Ensino Fundamental I</h2>

                <h6>Meio período</h6>

                <p class="text">
                  Os alunos do ensino fundamental são desafiados a se tornarem
                  cada vez mais independentes e preparados para os desafios da
                  adolescência.
                  <br />
                  <br />
                  Nosso foco, está em preparar cada aluno para atingir seu
                  potencial máximo enquanto aprende a servir a Cristo em sua
                  vida diária.
                </p>

                <a
                  class="greenButton"
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=5541995980198"
                  >AGENDE SUA VISITA</a
                >
              </div>

              <img src="./img/fund-1-girl.png" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <div class="ensino-container">
              <img src="./img/fund-2-boy.png" alt="" />

              <div class="content">
                <h2 class="subtitle">Ensino Fundamental II</h2>

                <h6>Meio período</h6>
                <p class="text">
                  No Ensino Fundamental II começamos os preparativos para o
                  Ensino Médio, onde terão novos desafios. Aqui eles são
                  estimulados para começar a intensificar a rotina de estudos e
                  explorar de maneira mais aprofundada os conteúdos.
                  <br />
                  <br />
                  O encontro com Deus e a Palavra se mantém, com discussões e
                  reflexões mais profundas, colocando os ensinamentos em prática
                  no seu cotidiano.
                </p>

                <a
                  class="greenButton"
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=5541995980198"
                  >AGENDE SUA VISITA</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-depo">
        <div class="serie-button-prev">
          <img class="left" src="./img/left-arrow.svg" alt="" />
        </div>
        <div class="serie-button-next">
          <img src="./img/right-arrow.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="precos">
  <div class="card laranja">
    <div>
      <h2 class="laranja">Educação Infantil*</h2>
      <h4>N4 e N5</h4>
    </div>

    <div>
      <p>R$600,00</p>
      <p>+</p>
      <p>12x R$838,00</p>
    </div>

    <div>
      <h6>* A PARTIR DE 4 ANOS</h6>
      <h6>MEIO PERÍODO</h6>
    </div>
  </div>

  <div class="card verde">
    <div>
      <h2 class="verde">Fundamental I*</h2>
      <h4>1º ao 5º ano</h4>
    </div>

    <div>
      <p>R$600,00</p>
      <p>+</p>
      <p>12x R$886,00</p>
    </div>

    <div>
      <h6>*MEIO PERÍODO</h6>
    </div>
  </div>

  <div class="card rosa">
    <div>
      <h2 class="rosa">Fundamental II*</h2>
      <h4>6º ao 9º ano</h4>
    </div>

    <div>
      <p>R$600,00</p>
      <p>+</p>
      <p>12x R$946,00</p>
    </div>

    <div>
      <h6>*MEIO PERÍODO</h6>
    </div>
  </div>
</section>

<section class="metodologia">
  <div class="left">
    <h2>Metodologia Pedagógica</h2>
    <h4>
      Entendemos educação como ferramenta para gerar conhecimento e valores para
      a construção de cidadãos transformadores.
    </h4>
  </div>
  <div class="right">
    <p>
      A Abordagem Educacional por Princípios é “um método cristão histórico de
      raciocínio bíblico, que faz das verdades da Palavra de Deus a base de cada
      assunto no currículo escolar”.
      <br /><br />
      Aqui nossos alunos são incentivados a:
    </p>
    <div class="pontos-container">
      <div class="ponto">
        <img src="./img/ponto-verde.svg" alt="" />
        <p>Pesquisar</p>
      </div>

      <div class="ponto">
        <img src="./img/ponto-amarelo.svg" alt="" />
        <p>Relacionar</p>
      </div>

      <div class="ponto">
        <img src="./img/ponto-rosa.svg" alt="" />
        <p>Raciocinar</p>
      </div>

      <div class="ponto">
        <img src="./img/ponto-laranja.svg" alt="" />
        <p>Registrar</p>
      </div>
    </div>
  </div>
</section>
<img src="./img/grey-bg.svg" alt="" />

<section class="principios">
  <div class="title-container">
    <h2 class="subtitle">
      Abordagem por <br />
      Princípios Bíblicos
    </h2>
    <p>7 Princípios de Governo</p>

    <img class="lines" src="./img/lines-principios.svg" alt="" />
  </div>

  <div class="slider-container">
    <div class="swiper" id="Swiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card">
            <h3 class="orange">O Princípio da Soberania</h3>
            <h6>A forma cristã de governo</h6>

            <p>
              O fluxo legítimo de poder vem de Deus por meio de nós e das
              instituições em que participamos, o que permite equilibrar as
              funções dele decorrentes: planejar, agir e avaliar (legislativo,
              executivo e judiciário) para evitar a tirania.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <h3 class="green">O Princípio da Individualidade</h3>
            <h6>O princípio da individualidade de Deus</h6>

            <p>
              Expresso no próprio Deus e na sua criação, aponta a identidade e a
              vocação de cada ser com um propósito e permite variedade
              complementar entre todos.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card">
            <h3 class="pink">O Princípio do Autogoverno</h3>
            <h6>O princípio de governo cristão</h6>

            <p>
              Para ter verdadeira liberdade devemos ser governados internamente,
              que só é possível quando aprendemos a obedecer a Deus, com Cristo
              reinando em nossa vida.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <h3 class="yellow">O Princípio do Caráter</h3>
            <h6>O caráter é a marca de nossa herança cristã</h6>

            <p>
              A imagem de Deus manifesta no indivíduo moldado conforme as
              características de Cristo, impacta positivamente sua vida, seu
              ambiente e seus relacionamentos.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <h3 class="orange">O Princípio da Semeadura e Colheita</h3>
            <h6>Plantando a semente do autogoverno local</h6>

            <p>
              É preciso semear continuamente nos pensamentos, palavras e ações
              os fundamentos do governo de Deus, para colher os resultados
              esperados no indivíduo e na sociedade, e assim, crescer
              sustentavelmente.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card">
            <h3 class="green">O Princípio da Aliança</h3>
            <h6>O princípio cristão da união voluntária</h6>

            <p>
              O acordo interno produz união externa de pessoas diversas que
              compartilham princípio e propósito, nas esferas de vida doméstica,
              comunitária e de nação.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-depo">
      <div class="swiper-button-prev">
        <img class="left" src="./img/left-arrow.svg" alt="" />
      </div>
      <div class="swiper-button-next">
        <img src="./img/right-arrow.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="carinho">
  <div>
    <div class="left">
      <h2 class="subtitle">
        Cuidado e expressão de <br />
        carinho com cada aluno
      </h2>
      <h6>
        O que os alunos e suas famílias dizem <br />
        sobre ser da família EB Shalon
      </h6>
    </div>

    <div class="slider-container">
      <div class="swiper" id="Swiper3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <iframe
              width="536px"
              height="378px"
              allow="fullscreen;"
              class="video"
              src="https://www.youtube.com/embed/kP4D_fkY-kQ"
              title="Escola perfeita para seu filho"
            >
            </iframe>
          </div>

          <div class="swiper-slide">
            <iframe
              width="536px"
              height="378px"
              allow="fullscreen;"
              class="video"
              src="https://www.youtube.com/embed/xHA1Qam3aFY"
              title="Escola perfeita para seu filho"
            >
            </iframe>
          </div>

          <div class="swiper-slide">
            <iframe
              width="536px"
              height="378px"
              allow="fullscreen;"
              class="video"
              src="https://www.youtube.com/embed/79SQMJZzjyQ"
              title="Escola perfeita para seu filho"
            >
            </iframe>
          </div>

          <div class="swiper-slide">
            <iframe
              width="536px"
              height="378px"
              allow="fullscreen;"
              class="video"
              src="https://www.youtube.com/embed/f4RgnDUkeHg"
              title="Escola perfeita para seu filho"
            >
            </iframe>
          </div>

          <div class="swiper-slide">
            <iframe
              width="536px"
              height="378px"
              allow="fullscreen;"
              class="video"
              src="https://www.youtube.com/embed/W3k_wgYYbjA"
              title="Escola perfeita para seu filho"
            >
            </iframe>
          </div>

          <div class="swiper-slide">
            <iframe
              width="536px"
              height="378px"
              allow="fullscreen;"
              class="video"
              src="https://www.youtube.com/embed/aE_g4H0Ktls"
              title="Escola perfeita para seu filho"
            >
            </iframe>
          </div>

          <div class="swiper-slide">
            <iframe
              width="536px"
              height="378px"
              allow="fullscreen;"
              class="video"
              src="https://www.youtube.com/embed/-6szcEoavyI"
              title="Escola perfeita para seu filho"
            >
            </iframe>
          </div>
        </div>
      </div>

      <div class="nav-depo">
        <div class="video-button-prev">
          <img class="left" src="./img/left-arrow.svg" alt="" />
        </div>
        <div class="video-button-next">
          <img src="./img/right-arrow.svg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="nav"></div>
</section>

<section class="escola-alem">
  <div class="title-container">
    <h3>Uma educação para além da sala de aula</h3>
    <h2>Nossos alunos poderão ir além na Escola Batista Shalon</h2>
    <p>
      As atividades extracurriculares, que acontecem em espaços seguros dentro
      do ambiente <br />
      escolar, integram cultura, esporte e saúde ao tempo livre dos(as)
      alunos(as) da escola
    </p>
  </div>

  <div class="primeiro">
    <img src="./img/primeiro-foto.png" alt="" />

    <div class="pontos-container">
      <div class="ponto">
        <img src="./img/ponto1.png" alt="" />
        <div>
          <h4>Educação financeira e empreendedorismo</h4>
          <p>
            Oferecemos aulas de economia desde o 6º ano,visando o
            desenvolvimento do senso de responsabilidade, formação cidadãos
            preparados para lidar com o dinheiro de forma saudável,
            desenvolvimento do espírito empreendedor.
          </p>
        </div>
      </div>

      <div class="ponto">
        <img src="./img/ponto2.png" alt="" />
        <div>
          <h4>Educação e Inteligência emocional</h4>
          <p>
            Aqui na EBS, a partir do 6º ano, contamos com aulas de inteligência
            emocional. Entendemos que essa é uma ferramenta muito importante
            para uma vida saudável e feliz.
          </p>
        </div>
      </div>

      <div class="ponto">
        <img src="./img/ponto3.png" alt="" />
        <div>
          <h4>Educação Internacional</h4>
          <p>
            Para vivenciar uma experiência mais imersiva no estudo da língua
            inglesa oferecemos:
          </p>
          <ul>
            <li>Aulas de inglês 3x na semana</li>
            <li>Material didático tecnológico</li>
            <li>Aulas integradas com conteúdos de outras disciplinas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="primeiro">
    <div class="pontos-container">
      <div class="ponto">
        <img src="./img/ponto4.png" alt="" />
        <div>
          <h4>Tech Recursos</h4>
          <p>
            Em um mundo de inovações tecnológicas, nossa escola oferece
            interatividade por meio de vivências online no:
          </p>
          <h5>
            Google classroom &nbsp;&nbsp; | &nbsp; &nbsp; &nbsp; Matfic (jogos
            matemáticos)
            <br />
            Iscool app (agenda escolar online) &nbsp; | &nbsp;&nbsp; Portal do
            Aluno Mackenzie
          </h5>
        </div>
      </div>

      <div class="ponto">
        <img src="./img/ponto5.png" alt="" />
        <div>
          <h4>Ballet &nbsp &nbsp &nbsp(Extracurricular)</h4>
          <p>
            As aulas de ballet estimulam o desenvolvimento motor e cognitivo das
            crianças. Os movimentos físicos e a percepção musical fazem com que
            elas possam reconhecer e dominar ritmos, potencializar a memória e
            consciência corporal.
          </p>
        </div>
      </div>

      <div class="ponto">
        <img src="./img/ponto6.png" alt="" />
        <div>
          <h4>Futsal &nbsp &nbsp &nbsp (Extracurricular)</h4>
          <p>
            Aulas de futsal no ambiente escolar trazem inúmeros benefícios para
            as crianças. Além de desenvolver habilidades físicas, cognitivas e
            motoras, o aluno é estimulado nas suas capacidades de socialização,
            respeito e aprendem que ganhar e perder fazem parte da vida.
          </p>
        </div>
      </div>
    </div>

    <img src="./img/segunda-foto.png" alt="" />
  </div>

  <a
    href="https://api.whatsapp.com/send?phone=5541995980198"
    class="laranjaButton"
    target="_blank"
    >agende sua visita</a
  >
</section>

<img src="./img/wave3.svg" class="wave3" alt="" />

<section class="autoconhecimento">
  <img src="./img/elementos-4.svg" class="elementos" alt="" />

  <iframe
    width="509px"
    height="389px"
    allow="fullscreen;"
    src="https://www.youtube.com/embed/YEEVp9r_hs4"
    title="Escola perfeita para seu filho"
    class="video"
  >
  </iframe>

  <div class="content">
    <h2 class="subtitle">
      Autoconhecimento<br />
      e Projeto de Vida
    </h2>
    <p class="text">
      Aqui na EBS visamos desenvolver no aluno: autoconhecimento, inteligência
      emocional, educação financeira, escolhas profissionais, métodos de estudo
      muito mais. Por meio dele o aluno entende melhor de si e do outro.
    </p>

    <a
      class="greenButton"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=5541995980198"
      >FALE COM A GENTE</a
    >
  </div>
</section>

<section class="instagram">
  <h2 class="subtitle">
    AULAS, PASSEIOS, <br />
    PROJETOS EXTRACURRICULARES
  </h2>

  <div class="insta">
    <img src="./img/insta1.png" alt="" />
    <img src="./img/insta2.png" alt="" />
    <img src="./img/insta3.png" alt="" />
    <img src="./img/insta4.png" alt="" />
    <img src="./img/insta5.png" alt="" />
  </div>
</section>

<section class="material">
  <div>
    <div class="text-container">
      <h2 class="subtitle green">
        Material Didático <br />
        Mackenzie
      </h2>
      <p>
        O aluno é incentivado a ser protagonista na produção do conhecimento e a
        desenvolver ideias próprias a partir de uma abordagem interativa.
      </p>
    </div>
    <img src="./img/material.png" alt="" />
    <img class="line1" src="./img/material-lines1.svg" alt="" />
    <img class="line2" src="./img/material-lines2.svg" alt="" />
  </div>
  <a
    href="https://api.whatsapp.com/send?phone=5541995980198"
    class="laranjaButton"
    target="_blank"
    >QUERO saber mais sobre o material</a
  >
</section>

<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.781353224656!2d-49.285039984569444!3d-25.512337583750494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfb5fe632abbf%3A0x177da94ce790d9f6!2sEscola%20Batista%20Shalon!5e0!3m2!1spt-BR!2sbr!4v1664932417753!5m2!1spt-BR!2sbr"
  width="100%"
  height="349"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>

<section class="pre-footer">
  <div>
    <p>
      Está com dúvidas? <br />
      <b>Entre em contato com a gente.</b>
    </p>

    <a
      href="https://api.whatsapp.com/send?phone=5541995980198"
      target="_blank"
      class="greenButton"
      >fale com a gente</a
    >
  </div>
  <img class="wave" src="./img/wave-footer.svg" alt="" />

  <img class="line" src="./img/lines-footer.svg" alt="" />
</section>

<footer>
  <div class="top">
    <div class="left">
      <img src="./img/shalon-logo.svg" alt="" />
      <p>
        “Instrua a criança segundo os objetivos que você tem para ela, e mesmo
        com o passar dos anos não se desviará deles.” <br /><br />
        <strong>Provérbios 22:6</strong>
      </p>
    </div>

    <div class="right">
      <a href="tel:4133467271">(41) 3346-7271</a>
      <a>atendimento@ebshalon.com</a>
      <a>
        R Alferes Pedro Magno de Barros, 333 <br />
        <p>Xaxim, Curitiba, PR. 81810-210</p>
      </a>
      <div>
        <a href="https://www.instagram.com/ebshalon/" target="_blank">
          <img src="./img/insta.svg" alt="" />
        </a>
        <a href="https://www.facebook.com/ebatistashalon/" target="_blank">
          <img src="./img/face.svg" alt="" />
        </a>
      </div>
    </div>
  </div>

  <span class="line"></span>
  <p>© 2022 por Escola Batista Shalon</p>
</footer>

<script>
  const swiper = new Swiper("#Swiper2", {
    speed: 400,
    spaceBetween: 20,
    slidesPerView: 1,
    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    breakpoints: {
      // when window width is >= 480px
      600: {
        slidesPerView: 1,
        spaceBetween: 0,
        width: 500,
      },
      // when window width is >= 1600px
      1000: {
        slidesPerView: 5,
        spaceBetween: 20,
      },
    },
  });

  var swiper2 = new Swiper("#mySwiper", {
    speed: 400,
    spaceBetween: 30,
    slidesPerView: 1,
    loop: true,
    // Navigation arrows
    navigation: {
      nextEl: ".serie-button-next",
      prevEl: ".serie-button-prev",
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: false,
    },
    breakpoints: {
      // when window width is >= 480px
      600: {
        slidesPerView: 1,
        spaceBetween: 0,
        width: 500,
      },
      // when window width is >= 1600px
      1000: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
    },
  });

  var swiper3 = new Swiper("#Swiper3", {
    effect: "cards",
    // Navigation arrows
    navigation: {
      nextEl: ".video-button-next",
      prevEl: ".video-button-prev",
    },
    loop: true,
    breakpoints: {
      // when window width is >= 480px
      600: {
        slidesPerView: 1,
        spaceBetween: 0,
        width: 500,
      },
      // when window width is >= 1600px
      1000: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
    },
  });
</script>
